﻿@using SWP_GROUP4.ViewModels.Product;
@{
    Layout = "_Cart";
    var ProductVMs = ViewBag.Products as List<ProductViewModel>;

}

<div>
    <main class="page">
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2>Shopping Cart</h2>
                    <p>Your cart</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="items">
                                @if (ProductVMs.Count > 0)
                                {
                                    @foreach (var Product in ProductVMs)
                                    {
                                        <div class="product">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img class="img-fluid mx-auto d-block image" src="@Product.Images">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="info">
                                                        <div class="row">
                                                            <div class="col-md-5 product-name">
                                                                <div class="product-name">
                                                                    <a href="#">@Product.Name</a>
                                                                    <div class="product-info">
                                                                        <div>Discount: <span class="value">@Product.Discount %</span></div>
                                                                        <div>Discription: <span class="value">@Product.Name</span></div>
                                                                        <div>Price: <span class="value">@(Product.Price)đ</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 quantity">
                                                                <p>Quantity:</p>
                                                                <form method="post" asp-action="Cart" asp-controller="Cart">
                                                                    <div class="value">
                                                                        x@(Product.Quantity) <span>
                                                                            <input type="hidden" name="Id" value="@Product.Id" />
                                                                            <button type="submit" class="btn btn-primary btn-circle">
                                                                                <span class="bi bi-plus"></span>
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="col-md-3 price">
                                                                @{
                                                                    var price = (Product.Price - ((Product.Price * Product.Discount) / 100)) * Product.Quantity;
                                                                    <span>@(price)đ</span>

                                                                }
                                                                <form method="post" asp-action="RemoveFromCart" asp-controller="Cart" style="display: inline;">
                                                                    <input type="hidden" name="productId" value="@Product.Id" />
                                                                    <button type="submit" class="bi bi-trash3 delete-btn"></button>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <h3 class="text-center" style="margin-top:100px !important">Your shopping cart is empty now. <a href="/Home">Back to Home</a></h3>
                                }
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="summary">
                                @{
                                    double subtotal = 0;
                                    double shipping = 50000;
                                    if (ProductVMs != null && ProductVMs.Count > 0)
                                    {
                                        foreach (var product in ProductVMs)
                                        {
                                            var price = (product.Price - ((product.Price * product.Discount) / 100)) * product.Quantity;
                                            subtotal += (double)price;

                                        }
                                    }
                                    if (ProductVMs.Count <= 0)
                                    {
                                        shipping = 0;
                                    }

                                    double total = subtotal + shipping;
                                }

                                <h3>Summary</h3>
                                <div class="summary-item"><span class="text">Subtotal</span><span class="price">@(subtotal)đ</span></div> <div class="summary-item"><span class="text">Shipping</span><span class="price">@(shipping)đ</span></div>
                                <div class="summary-item"><span class="text">Total</span><span class="price">@(total)đ</span></div>
                                <button id="checkout" onclick="window.location.href='@Url.Action("PaymentRequest", "Payment")'" class="btn btn-primary btn-lg btn-block">Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<script>
        document.addEventListener('DOMContentLoaded', function() {
            var button = document.getElementById('checkout');
            var isEmpty = @(ProductVMs.Count <= 0 ? "true" : "false");
            console.log(isEmpty);
            if (isEmpty) {
                button.disabled = true;
            } else {
                button.disabled = false;
            }
        });
</script>
<style>
    .btn-circle {
        border-radius: 100%;
        justify-content: center;
        align-items: center;
    }
</style>
