﻿@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity;
@{
    var httpContextAccessor = (IHttpContextAccessor)ViewContext.HttpContext.RequestServices.GetService(typeof(IHttpContextAccessor));
    var Search = httpContextAccessor.HttpContext.Session.GetString("Search");
    var LTH = httpContextAccessor.HttpContext.Session.GetString("LTH");
    var HTL = httpContextAccessor.HttpContext.Session.GetString("HTL");
    var Combo = httpContextAccessor.HttpContext.Session.GetString("Combo");
    var CateId = httpContextAccessor.HttpContext.Session.GetString("CateId");
}
@{
    Layout = null;
}
@{
    var imagePath = Url.Content("~/img/product/product1.jpg");
    var listProduct = ViewBag.listProduct as List<Product>;
    var listProductLHT = ViewBag.listProductLHT as List<Product>;
    var listCategori = ViewBag.listCategori as List<Category>;
    var discountedProducts = ViewBag.discountedProducts as List<Product>;
    var productBaner = ViewBag.productBaner as List<Product>;
    var listPrivacy = ViewBag.privacy as List<Privacy>;
}
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <!-- Font roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Icon fontanwesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Reset css & grid sytem -->
    <link href="~/css/library.css" rel="stylesheet" />
    <link href="~/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <!-- Layout -->
    <link href="~/css/common.css" rel="stylesheet" />
    <!-- index -->
    <link href="~/css/home.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Owl caroucel Js-->
    <script src="~/owlcarousel/owl.carousel.min.js"></script>
</head>
@{
    Layout = "_LayoutHome";
}
<body>
    <!-- Menu -->
    <div class="main">
        <!-- Slider -->
        <div class="main__slice">
            <div class="slider">
                @foreach (var item in productBaner)
                {
                    <div class="slide active" style="background-image:url('@Url.Content(item.Images)')">
                        <div class="container">
                            <div class="caption">
                                <h1>Sale @item.Discount %</h1>
                                <p>Shock! Only @DateTime.Now.ToString("MMMM")</p>
                                <a asp-action="Index" asp-controller="ProductDetail" asp-route-id="@item.Id.ToString()" class="btn btn--default">Buy now</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- controls  -->
            <div class="controls">
                <div class="prev">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="next">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <!-- indicators -->
            <div class="indicator">
            </div>
        </div>

        <!--Product Category -->
        <div class="main__tabnine">
            <div class="grid wide">
                <!-- Tab items -->
                <div class="tabs">
                    <div class="tab-item active">
                        <a asp-action="ListAll" asp-controller="Home">Products</a>
                    </div>
                    <div class="tab-item">
                        <a href="/Spa/Index">Services</a>
                    </div>
                    <div style="margin-left:380px;">
                        @if (LTH != null)
                        {
                            <button style="background-color:@(LTH != null ? "#007bff" : "")" class="btn-sort" data-sort="asc"><a asp-action="NoLTH">Low to High</a></button>
                        }
                        @if (LTH == null)
                        {
                            <button style="background-color:@(LTH != null ? "#007bff" : "")" class="btn-sort" data-sort="asc"><a asp-action="LTH">Low to High</a></button>
                        }
                        @if (HTL != null)
                        {
                            <button style="background-color:@(HTL != null ? "#007bff" : "")" class="btn-sort" data-sort="asc"><a asp-action="NoHTL">High to Low</a></button>
                        }
                        @if (HTL == null)
                        {
                            <button style="background-color:@(HTL != null ? "#007bff" : "")" class="btn-sort" data-sort="asc"><a asp-action="HTL">High to Low</a></button>
                        }
                        @if (Combo != null)
                        {
                            <button style="background-color:@(Combo != null ? "#007bff" : "")" class="btn-sort" data-sort="desc"><a asp-action="NoCombo">No Combo</a></button>
                        }
                        @if (Combo == null)
                        {
                            <button class="btn-sort" data-sort="desc"><a asp-action="Combo">Is Combo</a></button>
                        }
                    </div>
                    <div class="line"></div>
                </div>
                <!-- Tab content -->
                <div class="sort-buttons">
                </div>
                <div class="tab-pane active" id="productContainer">
                    <!-- Your product items here -->
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row">
                                @if (listProduct != null)
                                {
                                    @foreach (var item in listProduct)
                                    {
                                        <div class="col l-2 m-4 s-6">
                                            <div class="product">
                                                @if(item.IsCombo == true)
                                                {
                                                    <div class="wholesale-tag">Giá sỉ</div>
                                                }
                                                <div class="product__avt" style="background-image: url('@Url.Content(@item.Images)');">
                                                </div>
                                                <div class="product__info">
                                                    <h3 class="product__name">@item.Name</h3>
                                                    <div class="product__price">
                                                        <div class="price__old">
                                                            @if (!(item.Discount <= 0 || item.Discount == null))
                                                            {
                                                                @item.Price <span>đ</span>
                                                            }
                                                        </div>
                                                        <div class="price__new">@((item.Price * (100 - item.Discount)) / 100) <span class="price__unit">đ</span></div>
                                                    </div>

                                                    @if (!(item.Discount <= 0 || item.Discount == null))
                                                    {
                                                        <div class="product__sale">
                                                            <span class="product__sale-percent">@item.Discount%</span>
                                                            <span class="product__sale-text">Sale</span>
                                                        </div>
                                                    }
                                                </div>
                                                <a asp-action="Index" asp-controller="ProductDetail" asp-route-id="@item.Id.ToString()" class="viewDetail">View detail</a>
                                                @using (Html.BeginForm("Cart", "Cart", FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()

                                                    <input type="hidden" name="Id" value="@item.Id" />

                                                    <button type="submit" class="addToCart">Add to cart</button>
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                                @if (listProduct == null || listProduct.Count <= 0)
                                {
                                    <h1>Product Not Found!</h1>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pagination -->
                <div class="pagination"></div>
            </div>
        </div>
        <!-- HightLight  -->
        <div class="main__frame">
            <div class="grid wide">
                <h3 class="category__heading">SALE PRODUCTS</h3>
                <div class="owl-carousel hight owl-theme">
                    @foreach (var item in discountedProducts)
                    {
                        <div class="product">
                            <div class="product__avt" style="background-image: url('@Url.Content(@item.Images)');">
                            </div>
                            <div class="product__info">
                                <h3 class="product__name">@item.Name</h3>
                                <div class="product__price">
                                    <div class="price__old">
                                        @if (!(item.Discount <= 0 || item.Discount == null))
                                        {
                                            @item.Price <span>đ</span>
                                        }
                                    </div>
                                    <div class="price__new">@((item.Price * (100 - item.Discount)) / 100) <span class="price__unit">đ</span></div>
                                </div>

                                @if (!(item.Discount <= 0 || item.Discount == null))
                                {
                                    <div class="product__sale">
                                        <span class="product__sale-percent">@item.Discount%</span>
                                        <span class="product__sale-text">Sale</span>
                                    </div>
                                }
                            </div>
                            <a asp-action="Index" asp-controller="ProductDetail" asp-route-id="@item.Id.ToString()" class="viewDetail">View Detail</a>
                            <a asp-action="Cart" asp-controller="Cart" asp-route-id="@item.Id" class="addToCart">Add to cart</a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- Sales Policy -->
        @* <div class="main__policy">
        <div class="row">
        <div class="col l-3 m-6">
        <div class="policy bg-1">
        <img src="./assets/img/policy/policy1.png" class="policy__img"></img>
        <div class="policy__info">
        <h3 class="policy__title">GIAO HÀNG MIỄN PHÍ</h3>
        <p class="policy__description">Cho đơn hàng từ 300K</p>
        </div>
        </div>
        </div>
        <div class="col l-3 m-6">
        <div class="policy bg-2">
        <img src="./assets/img/policy/policy2.png" class="policy__img"></img>
        <div class="policy__info">
        <h3 class="policy__title">ĐỔI TRẢ HÀNG</h3>
        <p class="policy__description">Trong 3 ngày đầu tiên</p>
        </div>
        </div>
        </div>
        <div class="col l-3 m-6">
        <div class="policy bg-1">
        <img src="./assets/img/policy/policy3.png" class="policy__img"></img>
        <div class="policy__info">
        <h3 class="policy__title">HÀNG CHÍNH HÃNG</h3>
        <p class="policy__description">Cam kết chất lượng</p>
        </div>
        </div>
        </div>
        <div class="col l-3 m-6">
        <div class="policy bg-2">
        <img src="./assets/img/policy/policy4.png" class="policy__img"></img>
        <div class="policy__info">
        <h3 class="policy__title">TƯ VẤN 24/24</h3>
        <p class="policy__description">Giải đáp mọi thắc mắc</p>
        </div>
        </div>
        </div>

        </div>
        </div>*@
        <!-- News -->
        <div class="main__frame bg-3">
            <div class="grid wide">
                <h3 class="category__title">FBeauty</h3>
                <h3 class="category__heading">Policies</h3>

                <div class="owl-carousel news owl-theme">
                    @foreach (var item in listPrivacy)
                    {
                        <a href="news.html" class="news">
                            <div class="news__img">
                                <img src="./assets/img/news/news1.jpg" alt="">
                            </div>

                            <div class="news__body">

                                <h3 class="news__body-title">@item.Version</h3>
                                <div class="new__body-date">13/6/2021</div>
                                <p class="news__description">
                                    @item.Content
                                </p>

                            </div>
                        </a>
                    }

                </div>
            </div>
        </div>
        <div class="main__bands">
            <div class="grid wide">
                <div class="owl-carousel bands">
                    <a href="listProduct.html" class="band__item" style="background-image: url(./assets/img/band/band1.png)"></a>
                    <a href="listProduct.html" class="band__item" style="background-image: url(./assets/img/band/band2.png)"></a>
                    <a href="listProduct.html" class="band__item" style="background-image: url(./assets/img/band/band3.png)"></a>
                    <a href="listProduct.html" class="band__item" style="background-image: url(./assets/img/band/band4.png)"></a>
                    <a href="listProduct.html" class="band__item" style="background-image: url(./assets/img/band/band5.png)"></a>
                    <a href="listProduct.html" class="band__item" style="background-image: url(./assets/img/band/band6.png)"></a>
                    <a href="listProduct.html" class="band__item" style="background-image: url(./assets/img/band/band7.png)"></a>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal Form -->
    <div class="ModalForm">
        <div class="up-top" id="upTop" onclick="goToTop()">
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>
    <script>
        $('.owl-carousel.hight').owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
        $('.owl-carousel.news').owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 4000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 2
                }
            }
        })
        $('.owl-carousel.bands').owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            dots: false,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 6
                }
            }
        })</script>
    <!-- Script common -->
    <script src="~/js/homescript.js"></script>
    <script src="~/js/commonscript.js"></script>
</body>

</html>
<style>
    /* Add your custom styles for the pagination buttons here */
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .page-number {
        padding: 5px 10px;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        cursor: pointer;
        margin: 0 5px;
        text-decoration: none;
        color: #333;
        border-radius: 5px;
    }

        .page-number.active {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }
</style>
<script>
    // JavaScript code for pagination
    const productsPerPage = 12; // Number of products to display per page
    let currentPage = 1; // Current page

    // Get the container element of product items
    const productContainer = document.getElementById("productContainer");

    // Get all product items
    const productItems = [...productContainer.querySelectorAll(".product")];

    // Calculate the total number of pages
    const totalPages = Math.ceil(productItems.length / productsPerPage);

    // Function to show products based on the current page
    function showProducts(page) {
        const startIndex = (page - 1) * productsPerPage;
        const endIndex = startIndex + productsPerPage;
        productItems.forEach((product, index) => {
            if (index >= startIndex && index < endIndex) {
                product.style.display = "block";
            } else {
                product.style.display = "none";
            }
        });
    }

    // Function to generate pagination buttons
    function generatePagination() {
        const paginationContainer = document.querySelector(".pagination");
        let paginationHTML = "";
        for (let i = 1; i <= totalPages; i++) {
            paginationHTML += `<button class="page-number" data-page="${i}">${i}</button>`;
        }
        paginationContainer.innerHTML = paginationHTML;
        // Add event listener to each page number button
        const pageNumberButtons = paginationContainer.querySelectorAll(".page-number");
        pageNumberButtons.forEach((button) => {
            button.addEventListener("click", () => {
                const page = parseInt(button.getAttribute("data-page"));
                currentPage = page;
                showProducts(currentPage);
                updateActivePageStyle();
            });
        });
        // Update the style of the active page button
        updateActivePageStyle();
    }

    // Function to update the style of the active page button
    function updateActivePageStyle() {
        const pageNumberButtons = document.querySelectorAll(".page-number");
        pageNumberButtons.forEach((button) => {
            const page = parseInt(button.getAttribute("data-page"));
            if (page === currentPage) {
                button.classList.add("active");
            } else {
                button.classList.remove("active");
            }
        });
    }

    // Show the first page of products initially
    showProducts(currentPage);

    // Generate pagination buttons
    generatePagination();
</script>
<script>
    function submitForm() {
        var form = document.getElementById("categoryForm");
        form.action = "@Url.Action("GetProductByCate")";
        form.submit();
    }
</script>
<style>
    /* Add your custom styles for the sort buttons here */
    .sort-buttons {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    .btn-sort {
        padding: 10px 20px;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        cursor: pointer;
        margin: 0 5px;
        text-decoration: none;
        color: #333;
        border-radius: 5px;
        width: 100px
    }

        .btn-sort:hover {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }

        .btn-sort[data-sort="asc"].active {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }

        .btn-sort[data-sort="desc"].active {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }

    .custom-select {
        position: relative;
        display: inline-block;
    }

        .custom-select select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: white;
            width: 200px;
            cursor: pointer;
        }

        .custom-select:hover select {
            border-color: #999;
        }

        .custom-select select:focus {
            outline: none;
        }

        .custom-select:hover select ~ ul {
            display: block;
        }

        .custom-select ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 0;
            margin: 0;
            border: 1px solid #ccc;
            background-color: white;
            list-style: none;
        }

            .custom-select ul li {
                padding: 10px;
                cursor: pointer;
            }

                .custom-select ul li:hover {
                    background-color: #f0f0f0;
                }

</style>
<style>
    .product {
        position: relative;
    }

    .wholesale-tag {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ff9900; /* Màu nền của tag */
        color: white; /* Màu chữ trên tag */
        padding: 4px 8px; /* Khoảng cách giữa chữ và viền tag */
        border-radius: 4px; /* Bo góc của tag */
        font-size: 12px; /* Cỡ chữ của tag */
    }
</style>