﻿@{
    Layout = null;
}
@{
    var company = ViewBag.Company as Company;
    var tech = ViewBag.Tech as Technology;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" defer></script>
    <title>Admin Page</title>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">Manager Panel</div>
        <ul class="sidebar-menu">
            <li class="menu-item">ProductList</li>
            <a href="/Profile/Index">
            <li class="menu-item">Profile</li></a>
            <a href="/Authentication/Logout">
            <li class="menu-item">Logout</li>
            </a>
            <!-- Add more menu items here -->
        </ul>
    </div>
    <div class="main-content">
        <div class="content-header">
            <h1>Management Your Company</h1>
            <p>Manage your website here.</p>
        </div>
        <div class="content-form">
            @if (company != null)
            {
                <form asp-action="EditCompany" method="post" enctype="multipart/form-data">
                    <input hidden type="text" name="Id" value="@company.Id">
                    <div style="padding-left:670px">
                        <img style="width:100px; height:100px" id="product-image-preview" src="@company.Image" />
                        <input required type="file" name="Image" accept="image/*" />
                    </div>
                     @if (ViewData["Error"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["Error"]
                        </div>
                    }
                    <label for="product-name">Product Name:</label>
                    <input required maxlength="20" value="@company.Name" type="text" name="Name">
                    <label for="product-type">ShortDescription</label>
                    <input required maxlength="100" type="text" name="ShortDescription" value="@company.ShortDescription">
                    <label for="product-type">FullDescription</label>
                    <textarea maxlength="500" name="FullDescription">@company.FullDescription</textarea>
                    <label for="product-type">Location</label>
                    <input required type="text" name="Location" value="@company.Location" />
                    <br />
                    <button type="submit">Save Changes</button>
                </form>
                <br />
                @if(tech!= null)
                {
                     <div style="display:flex">
                    <div>
                        <label for="product-type">Your Technology:</label>
                    </div>
                    <div>
                        <label for="product-type">@tech.Name</label>
                    </div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@tech.Id.ToString()" asp-controller="Technologi"><button>Edit Technology</button></a>
                    </div>
                </div>
                }
                @if (tech == null)
                {
                    <div style="display:flex">
                        <div>
                            <label for="product-type">Your Don't Have Any Technology</label>
                        </div>
                        <div>
                            <a asp-action="Add" asp-route-id="@tech.Id.ToString()" asp-controller="Technologi"><button>Add Technology</button></a>
                        </div>
                    </div>
                }
               
            }
            @if(company== null)
            {
                <h1>You Don't Have Any Company</h1>
                <a asp-action="AddCompanieForm" asp-controller="Technologi"><button type="submit">AddCompany</button></a>
            }
        </div>
    </div>
</body>
</html>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Basic styling for the sidebar */
    .sidebar {
        width: 250px;
        height: 100vh;
        background-color: #333;
        color: #fff;
        padding-top: 20px;
        position: fixed;
    }

    .sidebar-header {
        font-size: 1.5rem;
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .sidebar-menu {
        list-style: none;
        padding: 0;
    }

    .menu-item {
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .menu-item:hover {
            background-color: #555;
        }

    /* Styling for the main content */
    .main-content {
        margin-left: 250px;
        padding: 20px;
    }

    .content-header h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .content-header p {
        font-size: 1rem;
        color: #777;
        margin-bottom: 20px;
    }

    .content-form {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    /* Styling for form elements */
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="number"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    textarea {
        resize: vertical;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    }

    .sidebar {
        width: 250px;
        background-color: #2c3e50;
        color: #ecf0f1;
        height: 100vh;
        position: fixed;
        overflow-y: auto;
        transition: width 0.3s;
    }

    .sidebar-header {
        padding: 20px;
        text-align: center;
        font-size: 24px;
    }

    .sidebar-menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu-item {
        padding: 15px 20px;
        border-bottom: 1px solid #34495e;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .menu-item:hover {
            background-color: #34495e;
        }

    .main-content {
        margin-left: 250px;
        padding: 20px;
    }
</style>

<script>
    // Lắng nghe sự kiện khi người dùng chọn tệp
    document.querySelector('input[name="productImage"]').addEventListener('change', function (event) {
        const input = event.target;
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const imgPreview = document.querySelector('#product-image-preview');
                imgPreview.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const editButton = document.getElementById('edit-button');
        const editForm = document.getElementById('edit-form');

        editButton.addEventListener('click', function () {
            editButton.style.display = 'none';
            editForm.style.display = 'block';
        });
    });
</script>