﻿@{
    Layout = "_Dashboard";
    ViewData["Title"] = "Form Category";
}

@model CategoryFormViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Category</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/PDashboard/AddOrEditCategory" role="form" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(model => model.Id)
                        <br />
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Name" type="text" placeholder="" value="@(Model?.Name?? "")" />
                            <label for="Name">Category Name</label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea id="fdeditor" class="form-control" asp-for="Description" type="text" placeholder="" value="@(Model?.Description?? "")"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                            <button class="btn btn-primary" type="submit">Done</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/4.5.6/basic/ckeditor.js"></script>
<script>CKEDITOR.replace('fdeditor');</script>