﻿@{
    Layout = "_Dashboard";
    ViewData["Title"] = "Form Product";
    var companySelectors = ViewBag.CompanySelectors as Dictionary<Guid, string>;
    var categorySelectors = ViewBag.CategorySelectors as Dictionary<Guid, string>;
}

@model ProductFormViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Product</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/PDashboard/AddOrEditProduct" role="form" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(model => model.Id)
                        <div>
                            <img style="max-width:100px;max-height:100px" id="product-image-preview" src="@Model.Images" />
                            <input required type="file" name="productImage" accept="image/*" />
                        </div>
                        <br />
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Name" type="text" placeholder="" value="@(Model?.Name?? "")" />
                            <label for="Name">Product Name</label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="ShortDescription" type="text" placeholder="" value="@(Model?.ShortDescription?? "")" />
                            <label for="ShortDescription">Short Description</label>
                            <span asp-validation-for="ShortDescription" class="text-danger"></span>
                        </div>
                        <label for="FullDescription">Full Description</label>
                        <div class="form-floating mb-3">
                            <textarea id="fdeditor" class="form-control" asp-for="FullDescription" type="text" placeholder="" value="@(Model?.FullDescription?? "")"></textarea>
                            <span asp-validation-for="FullDescription" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Price" type="text" id="numberInput" oninput="formatNumber()" placeholder="" value="@(Model?.Price?? 0)" />
                            <label for="Price">Price</label>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" asp-for="CompanyId">
                                <option>Select company</option>
                                @foreach (var item in companySelectors)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>
                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" asp-for="CategoryId">
                                <option>Select category</option>
                                @foreach (var item in categorySelectors)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                            <button class="btn btn-primary" type="submit">Done</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/4.5.6/basic/ckeditor.js"></script>
<script>
    CKEDITOR.replace('fdeditor');
</script>
<script>
    function formatNumber() {
        var inputElement = document.getElementById("numberInput");
        var inputValue = inputElement.value.replace(/,/g, '');
        var formattedValue = Number(inputValue).toLocaleString();
        inputElement.value = formattedValue;
    }
    document.querySelector('input[name="productImage"]').addEventListener('change', function (event) {
        const input = event.target;
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const imgPreview = document.querySelector('#product-image-preview');
                imgPreview.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    });
</script>