﻿@using System.Globalization;
@{
    Layout = "_Dashboard";
    var CategoriesInfo = ViewBag.CategoriesInfo as Dictionary<string, int>;
    var ProductRates = ViewBag.ProductRates as Dictionary<string, double>;
}   

<div class="row">
    <div class="col">
        <h4 class="text-center">Product by Category</h4>
        <canvas id="productChart"></canvas>
    </div>
    <div class="col">
        <h4 class="text-center">Top Product @DateTime.Now.ToString("MMMM", CultureInfo.CreateSpecificCulture("en")) by Rating</h4>
        <canvas id="rateChart"></canvas>
    </div>
    @*<div class="col">
            <h4 class="text-center">Người hoạt động sôi nổi</h4>
            <canvas id="activePersonChart"></canvas>
        </div>*@
</div>

@{
    var categories = CategoriesInfo?.Select(el => el.Key).ToList();
    var numbers = CategoriesInfo?.Select(el => el.Value).ToList();
    var categoriesJson = Json.Serialize(categories);
    var numbersJson = Json.Serialize(numbers);

    var products = ProductRates.Select(el => el.Key).ToList();
    var rates = ProductRates.Select(el => el.Value).ToList();
    var productsJson = Json.Serialize(products);
    var ratesJson = Json.Serialize(rates);

}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctxGenre = document.getElementById('productChart');
        var categories = JSON.parse('@categoriesJson');
        var numbers = JSON.parse('@numbersJson');

        var products = JSON.parse('@productsJson');
        var rates = JSON.parse('@ratesJson');
        new Chart(ctxGenre, {
            type: 'pie',
            data: {
                labels: categories,
                datasets: [{
                    label: 'Number of Products',
                    data: numbers,
                    borderWidth: 1,
                    backgroundColor: ['#BBD6B8', '#97DEFF', '#F7C04A', '#865DFF', '#DFFFD8', '#FFB84C', '#F7EFE5']
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                            color: 'rgb(0, 0, 0)'
                        }
                    }
                }
            }
        });

        var barColors = ["blue", "green", "yellow", "orange", "red"];

        new Chart("rateChart", {
            type: "bar",
            data: {
                labels: products,
                datasets: [{
                    barThickness: 40,
                    minBarLength: 0,
                    backgroundColor: barColors,
                    data: rates
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    </script>
}