﻿@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<SpaTreatmentPlan>
@{
    Layout = "_Dashboard";
    ViewBag.Title = "Services";
}
<a href="/PDashboard/AddOrEditService" type="button" class="btn btn-secondary">Add new Service/Combo</a>
<br />
<br />
@using (Html.BeginForm("ServiceManagement", "PDashboard", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.ActionLink("Name", "ServiceManagement", new { sortOrder = ViewBag.NameSortParm })</th>
            <th scope="col">Price</th>
            <th scope="col">Discount</th>
            <th scope="col">Company</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    @foreach (var p in Model)
    {
        <tr>
            <td scope="row">@Html.DisplayFor(modelItem => p.Name)</td>
            <td scope="row">@(p.Price)đ</td>
            <td scope="row">@(p.Discount??0)</td>
            <td scope="row">@p.Company.Name</td>
            <td scope="row">@(p.Status?"Active":"Deactive")</td>
            <td scope="row">
                <a href="/PDashboard/AddOrEditService?Id=@p.Id" class="btn btn-primary">Edit</a>
                <a href="/PDashboard/DeactiveService?Id=@p.Id" style="width:100px" class="btn btn-danger">@(p.Status?"Deactive":" Active ")</a>
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<br />
@Html.PagedListPager(Model, page =>
    Url.Action("ServiceManagement", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions
    {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})