﻿@{
    var httpContextAccessor = (IHttpContextAccessor)ViewContext.HttpContext.RequestServices.GetService(typeof(IHttpContextAccessor));
    var Search = httpContextAccessor.HttpContext.Session.GetString("Search");
}
@{
    var listCategori = ViewBag.listCategori as List<Category>;
    var username = ViewBag.userId;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FBeauty</title>

</head>
<body>
    <div class="header scrolling" id="myHeader">
        <div class="grid wide">
            <div class="header__top">
                <div class="navbar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a href="index.html" class="header__logo">
                    <img src="./assets/logo.png" alt="">
                </a>
                <form asp-action="Search" method="post">
                    <div class="header__search">
                        <div class="header__search-wrap">
                            <input value="@Search" type="text" name="name" class="header__search-input" placeholder="Search">
                        </div>
                    </div>
                </form>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="header__account">
                        <a href="/Profile/Index" class="header__account-register">Profile</a>
                        <a asp-action="Order" asp-controller="Order" class="header__account-register">ListOrder</a>
                        <a href="/Authentication/Logout" class="header__account-login">Logout</a>
                        <p>
                            @username
                        </p>
                    </div>
                }
                else
                {
                    <div class="header__account">
                        <a href="/Authentication" class="header__account-login">Login</a>
                    </div>
                }

                <!-- Cart -->
                <div class="header__cart have" href="#">
                    <i class="fas fa-shopping-basket"></i>
                    @*<div class="header__cart-amount">
                        3
                    </div>*@
                    <div class="header__cart-wrap">
                        @*<ul class="order__list">
                            <li class="item-order">
                                <div class="order-wrap">
                                    <a href="product.html" class="order-img">
                                        <img src="./assets/img/product/product1.jpg" alt="">
                                    </a>
                                    <div class="order-main">
                                        <a href="product.html" class="order-main-name">Áo sơ mi  caro kèm belt caro kèm belt Áo sơ mi caro kèm belt</a>
                                        <div class="order-main-price">2 x 45,000 ₫</div>
                                    </div>
                                    <a href="product.html" class="order-close"><i class="far fa-times-circle"></i></a>
                                </div>
                            </li>
                            <li class="item-order">
                                <div class="order-wrap">
                                    <a href="product.html" class="order-img">
                                        <img src="./assets/img/product/product1.jpg" alt="">
                                    </a>
                                    <div class="order-main">
                                        <a href="product.html" class="order-main-name">Áo sơ mi  caro kèm belt caro kèm belt Áo sơ mi caro kèm belt</a>
                                        <div class="order-main-price">2 x 45,000 ₫</div>
                                    </div>
                                    <a href="product.html" class="order-close"><i class="far fa-times-circle"></i></a>
                                </div>
                            </li>
                            <li class="item-order">
                                <div class="order-wrap">
                                    <a href="product.html" class="order-img">
                                        <img src="./assets/img/product/product1.jpg" alt="">
                                    </a>
                                    <div class="order-main">
                                        <a href="product.html" class="order-main-name">Áo sơ mi  caro kèm belt caro kèm belt Áo sơ mi caro kèm belt</a>
                                        <div class="order-main-price">2 x 45,000 ₫</div>
                                    </div>
                                    <a href="product.html" class="order-close"><i class="far fa-times-circle"></i></a>
                                </div>
                            </li>
                        </ul>*@
                        @*<div class="total-money">Tổng cộng: 120.000đ</div>
                        <a href="cart.html" class="btn btn--default cart-btn">Xem giỏ hàng</a>
                        <a href="pay.html" class="btn btn--default cart-btn orange">Thanh toán</a>*@
                        <!-- norcart -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu -->
        <div class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item nav__search">
                    <div class="nav__search-wrap">
                        <input class="nav__search-input" type="text" name="" id="" placeholder="Tìm sản phẩm...">
                    </div>
                    <div class="nav__search-btn">
                        <i class="fas fa-search"></i>
                    </div>
                </li>
                <li class="header__nav-item index">
                    <a asp-action="ListAll" asp-controller="Home" class="header__nav-link">Home</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">Category</a>
                    <div class="sub-nav-wrap grid wide">
                        <ul class="sub-nav">
                            @foreach (var item in listCategori)
                            {
                                <li class="sub-nav__item">
                                    <a asp-action="GetProductByCate" asp-route-cateId="@item.Id" asp-controller="Home" class="sub-nav__link">@item.Name</a>
                                </li>
                            }
                        </ul>

                    </div>
                </li>
                <li class="header__nav-item">
                    <a href="/Order/Order" class="header__nav-link">Order</a>
                </li>
                <li class="header__nav-item">
                    <a href="/Report/Create" class="header__nav-link">Report</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>