﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_PaymentRequest";
}
@model ConfirmPaymentViewModel
<div class="container">

    <main>
        <div class="py-5 text-center">

            <img class="d-block mx-auto mb-4" src="~/img/payment/thiet-ke-logo-my-pham-14_1584438199.jpg" alt="" width="100" height="100">
            <h2>Thanh Toán</h2>
            <p class="lead">Tự Tin mang lại sản phẩm tốt nhất đến tay người tiêu dùng.</p>
        </div>

        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Thông tin khách hàng </h4>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["SuccessMessage"]
                    </div>
                }
                <div class="row g-3">
                    <form asp-action="UpdateUserInfo" asp-controller="Payment" method="post">

                        <div class="col-md-12">
                            <label for="kh_ten">Họ tên</label>
                            <input type="text" class="form-control" asp-for="FirstName" id="kh_ten" value="@Model.FirstName @Model.LastName">
                        </div>
                        <div class="col-12">
                            <label for="username" class="form-label">Tên tài khoản</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="username" value="@Model.UserName" readonly>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="number" class="form-label">Số điện thoại</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="PhoneNumber" id="number" value="@Model.PhoneNumber">
                                <div class="invalid-feedback">
                                    Số điện thoại là bắt buộc.
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">Email <span class="text-muted"></span></label>
                            <input type="email" class="form-control" asp-for="Email" id="email">
                            <div class="invalid-feedback">
                                Vui lòng nhập một địa chỉ email hợp lệ để cập nhật giao hàng.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="address" class="form-label">Địa chỉ giao hàng</label>
                            <input type="text" class="form-control" asp-for="ShipAddress" id="address" required>
                            <div class="invalid-feedback">
                                Vui lòng nhập địa chỉ giao hàng của bạn.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="address2" class="form-label">Địa chỉ nhà ở <span class="text-muted">(Tùy Chọn)</span></label>
                            <input type="text" class="form-control" asp-for="Address" id="address2">
                        </div>
                        <div class="col-12">
                            <button type="submit">Cập nhật thông tin khách hàng</button>
                        </div>
                    </form>
                </div>
                <form asp-action="index" asp-controller="Scan" method="post" class="needs-validation" novalidate>
                    <input type="hidden" name="rawOrderId" value="@Model.OrderId" />
                    <hr class="my-4">
                    <h4 class="mb-3">Hình thức thanh toán</h4>
                    <div class="my-3">
                        <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="credit">Thanh Toán Khi Nhận Hàng</label>
                        </div>

                        <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="paypal">Thanh Toán Qua VnPay</label>
                        </div>
                    </div>
                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Xác nhận thanh toán </button>
                </form>
            </div>
        </div>
    </main>
</div>