﻿@{
    var user = ViewBag.user as String;
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" defer></script>
    <title>Admin Page</title>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">Admin Panel</div>
        <ul class="sidebar-menu">
            <li class="menu-item">Dashboard</li>
            <li class="menu-item">Users</li>
            <li class="menu-item">Products</li>
            <!-- Add more menu items here -->
        </ul>
    </div>
    <div class="main-content">
        <div class="content-header">
            <h1>Dashboard</h1>
            <p>Manage your website here.</p>
        </div>
        <div class="content-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @if (user != null)
                        {
                            <td>@user</td>
                        }
                        <td>Product 1</td>
                        <td>Electronics</td>
                        <td><button>Edit</button> <button>Delete</button></td>
                    </tr>
                    <!-- Add more table rows here -->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        background-color: #333;
        color: #fff;
        padding-top: 20px;
        position: fixed;
    }

    .sidebar-header {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .sidebar-menu {
        list-style-type: none;
        padding: 0;
    }

    .menu-item {
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .menu-item:hover {
            background-color: #555;
        }

    .main-content {
        margin-left: 250px;
        padding: 20px;
    }

    .content-header {
        margin-bottom: 20px;
    }

    .content-table table {
        width: 100%;
        border-collapse: collapse;
    }

    .content-table th, .content-table td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .content-table th {
        background-color: #f0f0f0;
    }
</style>
<script>
    const menuItems = document.querySelectorAll('.menu-item');

    menuItems.forEach(item => {
        item.addEventListener('click', () => {
            menuItems.forEach(i => i.classList.remove('active'));
            item.classList.add('active');
        });
    });
</script>