﻿@using SWP_GROUP4.ViewModels;
@{
    var product = ViewBag.product as Product;
    var categori = ViewBag.categori as Category;
    var companie = ViewBag.companie as Company;
    var discountedProducts = ViewBag.discountedProducts as List<Product>;
    var rvm = ViewBag.Rates as List<RateViewModel>;
    var userName = ViewBag.UserName;
}
@{
    Layout = "_LayoutHome";
}
<!DOCTYPE html>
<html lang="en">
<!-- https://cocoshop.vn/ -->
<!-- http://mauweb.monamedia.net/vanihome/ -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiêt sản phẩm</title>
    <!-- Font roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Icon fontanwesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Reset css & grid sytem -->
    <link href="~/css/library.css" rel="stylesheet" />
    <!-- Owl Slider css -->
    <link href="~/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <!-- Layout -->
    <link href="~/css/common.css" rel="stylesheet" />
    <!-- index -->
    <link href="~/css/product.css" rel="stylesheet" />
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Owl caroucel Js-->
    <script src="~/owlcarousel/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
</head>

<body>
    <div class="main">
        <div class="grid wide">
            <div class="productInfo">
                <div class="row">
                    <div class="col l-5 m-12 s-12">
                        <a href="#" class="product">
                            <div class="product__avt" style="background-image: url('@Url.Content(product.Images)')">
                            </div>
                        </a>
                        <div class="owl-carousel owl-theme" id="sync2">
                            <a href="#" class="product">
                                <div class="product__avt" style="background-image: url(assets/img/product/product1.jpg)">
                                </div>
                            </a>
                            <a href="#" class="product">
                                <div class="product__avt" style="background-image: url(assets/img/product/product1.jpg)">
                                </div>
                            </a>
                            <a href="#" class="product">
                                <div class="product__avt" style="background-image: url(assets/img/product/product2.jpg)">
                                </div>
                            </a>
                            <a href="#" class="product">
                                <div class="product__avt" style="background-image: url(assets/img/product/product3.jpg)">
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="col l-7 m-12s s-12 pl">
                        <div class="main__breadcrumb">
                            <div class="breadcrumb__item">
                                <a href="#" class="breadcrumb__link">Trang chủ</a>
                            </div>
                            <div class="breadcrumb__item">
                                <a href="#" class="breadcrumb__link">Cửa hàng</a>
                            </div>
                            <div class="breadcrumb__item">
                                <a href="#" class="breadcrumb__link">Hãng DHC</a>
                            </div>
                        </div>
                        <h3 class="productInfo__name">
                            @product.Name
                        </h3>
                        <div class="productInfo__price">
                            @((product.Price * (100 - product.Discount)) / 100) <span class="priceInfo__unit">đ</span>
                        </div>
                        <div class="productInfo__description">
                            <span> @product.Name </span> @product.ShortDescription
                        </div>

                        <div class="productInfo__addToCart">
                            <div class="buttons_added">
                                <input class="minus is-form" type="button" value="-" onclick="minusProduct()">
                                <input aria-label="quantity" class="input-qty" max="10" min="1" name="" type="number" value="1">
                                <input class="plus is-form" type="button" value="+" onclick="plusProduct()">
                            </div>
                            @if(product.Id != null)
                            {
                            <a class=" btn btn--default orange " asp-action="cart" asp-controller="cart" asp-route-id="@product.Id">Thêm vào giỏ</a>
                            }
                            @if (product.IsCombo == true)
                            {
                                <div>
                                    <span class="product__sale-percent">Combo</span>
                                </div>
                            }

                        </div>
                        <div class="productIndfo__category ">
                            <p class="productIndfo__category-text"> Company : <a href="# " class="productIndfo__category-link ">@companie.Name</a></p>
                            <p class="productIndfo__category-text"> Category : <a href="# " class="productIndfo__category-link ">@categori.Name</a></p>
                            <p class="productIndfo__category-text"> Instock : @product.Quantity</p>
                            <p class="productIndfo__category-text"> Released Date :  @product.ReleasedDate</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="productDetail">
                <div class="main__tabnine">
                    <div class="grid wide">
                        <!-- Tab items -->
                        <div class="tabs">
                            <div class="tab-item active" onclick="switchTab('description')">
                                Detail
                            </div>
                            <div class="tab-item" onclick="switchTab('reviews')">
                                Rate
                            </div>
                            <div class="line"></div>
                        </div>
                        <!-- Tab content -->
                        <div class="tab-content">
                            <div class="tab-pane description active">
                                <div class="productDes">
                                    <div class="productDes__title">Thông Tin Sản Phẩm</div>
                                    <p class="productDes__text">
                                        <a href="#" class="productDes__link">@product.Name </a> @product.ShortDescription
                                    </p>
                                    <div class="productDes__title">Chi Tiết</div>
                                    <p class="productDes__text">
                                        <a href="#" class="productDes__link">@product.Name </a> @product.FullDescription
                                    </p>
                                </div>
                            </div>
                            <!-- Tab Comment -->
                            <div class="tab-pane reviews">
                                <div class="productDes__ratting-title">Your Rate</div>
                                <div class="productDes__ratting-wrap">
                                    <form method="post" asp-controller="ProductDetail" asp-action="Comment">
                                        @Html.AntiForgeryToken()
                                        <div id="rating">
                                            <!-- Here you can include your rating input component -->
                                        </div>
                                            <input type="number" name="rating" min="1" max="5" placeholder="Đánh giá từ 1 đến 5" required />
                                        <textarea class="ratecomment" name="header" cols="30" rows="1" placeholder="Header"></textarea>
                                        <br/>
                                        <textarea class="ratecomment" name="content" cols="30" rows="3" placeholder="Comment"></textarea>
                                        <br/>
                                        <input type="hidden" name="id" value="@ViewBag.product.Id" /> <!-- Include the product ID -->
                                        <br/>
                                        <input type="submit" class="btn btn--default" value="Rate">
                                    </form>
                                </div>
                            </div>

                            <div class="rate__user">Rates</div>
                            <ul class="rate__list" style="list-style-type: none; padding: 0;">
                                @foreach (var r in rvm)
                                {
                                    <li class="rate__item" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 15px;">
                                        <div class="rate__info">
                                            <h3 class="rate__user" style="margin: 0;">@r.UserFullname</h3>
                                        </div>
                                        <div class="rate__info">
                                            <h3 class="rate__user" style="margin: 0;">Header: @r.Header</h3>
                                        </div>
                                        <div class="rate__rating" style="margin: 5px 0;">Comment: @r.Rating / 5</div>
                                        <div class="rate__content">Nội dung: @r.Content</div>
                                    </li>
                                }
                            </ul>


                            </div>
                            <!-- End Tab Comment -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__frame ">
                <div class="grid wide ">
                    <h3 class="category__title ">FBeauty</h3>
                    <h3 class="category__heading ">Products</h3>
                    <div class="owl-carousel hight owl-theme ">
                        @foreach (var item in discountedProducts)
                        {
                            <div class="product">
                                <div class="product__avt" style="background-image: url('@Url.Content(item.Images)');">
                                </div>
                                <div class="product__info">
                                    <h3 class="product__name">@item.Name</h3>
                                    <div class="product__price">
                                        <div class="price__old">
                                            @if (!(item.Discount <= 0 || item.Discount == null))
                                            {
                                                @item.Price <span>$</span>
                                            }
                                        </div>
                                        <div class="price__new">@((item.Price * (100 - item.Discount)) / 100) <span class="price__unit">$</span></div>
                                    </div>

                                    @if (!(item.Discount <= 0 || item.Discount == null))
                                    {
                                        <div class="product__sale">
                                            <span class="product__sale-percent">@item.Discount%</span>
                                            <span class="product__sale-text">Giảm</span>
                                        </div>
                                    }
                                    @if (item.IsCombo == true)
                                    {
                                        <div>
                                            <span class="product__sale-percent">Giá Sỉ</span>
                                        </div>
                                    }
                                </div>
                                <a asp-action="Index" asp-controller="ProductDetail" asp-route-id="@item.Id.ToString()" class="viewDetail">View detail</a>
                                <a asp-action="Cart" asp-controller="Cart" asp-route-id="@item.Id" class="addToCart">Add to cart</a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Form -->
    <div class="ModalForm ">
        <div class="modal " id="my-Register ">
            <a href="# " class="overlay-close "></a>
            <div class="authen-modal register ">
                <h3 class="authen-modal__title ">Đăng Kí</h3>
                <div class="form-group ">
                    <label for="account " class="form-label ">Họ Tên</label>
                    <input id="account " name="account " type="text " class="form-control ">
                    <span class="form-message ">Không hợp lệ !</span>
                </div>
                <div class="form-group ">
                    <label for="password " class="form-label ">Tài khoản Email *</label>
                    <input id="password " name="password " type="text " class="form-control ">
                    <span class="form-message "></span>
                </div>
                <div class="form-group ">
                    <label for="password " class="form-label ">Mật khẩu *</label>
                    <input id="password " name="password " type="text " class="form-control ">
                    <span class="form-message "></span>
                </div>
                <div class="form-group ">
                    <label for="password " class="form-label ">Nhập lại mật khẩu *</label>
                    <input id="password " name="password " type="text " class="form-control ">
                    <span class="form-message "></span>
                </div>
                <div class="authen__btns ">
                    <div class="btn btn--default ">Đăng Kí</div>
                </div>
            </div>
        </div>
        <div class=" modal " id="my-Login ">
            <a href="# " class="overlay-close "></a>
            <div class="authen-modal login ">
                <h3 class="authen-modal__title ">Đăng Nhập</h3>
                <div class="form-group ">
                    <label for="account " class="form-label ">Địa chỉ email *</label>
                    <input id="account " name="account " type="text " class="form-control ">
                    <span class="form-message ">Tài khoản không chính xác !</span>
                </div>
                <div class="form-group ">
                    <label for="password " class="form-label ">Mật khẩu *</label>
                    <input id="password " name="password " type="text" class="form-control ">
                    <span class="form-message "></span>
                </div>
                <div class="authen__btns ">
                    <div class="btn btn--default ">Đăng Nhập</div>
                    <input type="checkbox " class="authen-checkbox ">
                    <label class="form-label ">Ghi nhớ mật khẩu</label>
                </div>
                <a class="authen__link ">Quên mật khẩu ?</a>
            </div>
        </div>
        <div class="up-top " id="upTop " onclick="goToTop() ">
            <i class="fas fa-chevron-up "></i>
        </div>

    </div>
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "105913298384666");
        chatbox.setAttribute("attribution", "biz_inbox");
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v10.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        $(document).ready(function () {
            var sync1 = $("#sync1 ");
            var sync2 = $("#sync2 ");
            var slidesPerPage = 4;
            var syncedSecondary = true;
            sync1.owlCarousel({
                items: 1,
                loop: true,
                margin: 20,
                nav: true,
                dots: false,
                autoplay: true,
                autoplayTimeout: 4000,
                autoplayHoverPause: true
            })
            sync2
                .on('initialized.owl.carousel', function () {
                    sync2.find(".owl-item ").eq(0).addClass("current ");
                })
                .owlCarousel({
                    items: 4,
                    dots: false,
                    nav: false,
                    margin: 30,
                    smartSpeed: 200,
                    slideSpeed: 500,
                    slideBy: 4,
                    responsiveRefreshRate: 100
                }).on('changed.owl.carousel', syncPosition2);

            function syncPosition(el) {
                var count = el.item.count - 1;
                var current = Math.round(el.item.index - (el.item.count / 2) - .5);

                if (current < 0) {
                    current = count;
                }
                if (current > count) {
                    current = 0;
                }

                //end block

                sync2
                    .find(".owl-item ")
                    .removeClass("current ")
                    .eq(current)
                    .addClass("current ");
                var onscreen = sync2.find('.owl-item.active').length - 1;
                var start = sync2.find('.owl-item.active').first().index();
                var end = sync2.find('.owl-item.active').last().index();

                if (current > end) {
                    sync2.data('owl.carousel').to(current, 100, true);
                }
                if (current < start) {
                    sync2.data('owl.carousel').to(current - onscreen, 100, true);
                }
            }

            function syncPosition2(el) {
                if (syncedSecondary) {
                    var number = el.item.index;
                    sync1.data('owl.carousel').to(number, 100, true);
                }
            }

            sync2.on("click ", ".owl-item ", function (e) {
                e.preventDefault();
                var number = $(this).index();
                sync1.data('owl.carousel').to(number, 300, true);
            });
        });

        $('.owl-carousel.hight').owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 6
                }
            }
        })
    </script>

    <!-- Script common -->
    <script src="./assets/js/commonscript.js ">
    </script>
    <script>
        function calcRate(r) {
            const f = ~~r, //Tương tự Math.floor(r)
                id = 'star' + f + (r % f ? 'half' : '')
            id && (document.getElementById(id).checked = !0)
        }
    </script>
    <script>
        function switchTab(tabName) {
            const tabs = document.querySelectorAll('.tab-item');
            const tabContents = document.querySelectorAll('.tab-pane');

            tabs.forEach(tab => tab.classList.remove('active'));
            tabContents.forEach(content => content.classList.remove('active'));

            const selectedTab = document.querySelector(`.${tabName}`);
            const selectedTabItem = document.querySelector(`.tab-item.${tabName}`);

            selectedTab.classList.add('active');
            selectedTabItem.classList.add('active');
        }
    </script>
</body>

</html>