﻿@model SpaTreatmentPlan

@{
    var stps = ViewBag.stps as SpaTreatmentPlan;
    var company = ViewBag.company as List<Company>;
}
<h2>Edit Spa Treatment Plan</h2>

<form asp-action="AddSpa" asp-controller="Spa" method="post">
    <input type="hidden" asp-for="Id" />
    @*<div style="padding-left:670px">
        <img style="width:100px; height:100px" id="product-image-preview" src="" />
        <input required type="file" name="productImage" accept="image/*" />
    </div>*@
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShortDescription"></label>
        <input asp-for="ShortDescription" class="form-control" />
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FullDescription"></label>
        <input asp-for="FullDescription" class="form-control" />
        <span asp-validation-for="FullDescription" class="text-danger"></span>
    </div>
    @*<div class="form-group">
        <label asp-for="Images"></label>
        <input asp-for="Images" class="form-control" />
    </div>*@
    <div class="form-group">
        <label asp-for="Discount"></label>
        <input asp-for="Discount" class="form-control" />
        <span asp-validation-for="Discount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReleasedDate"></label>
        <input asp-for="ReleasedDate" class="form-control" type="date" />
        <span asp-validation-for="ReleasedDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duration"></label>
        <input asp-for="Duration" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
    <select name="CompanyId">
        @foreach (var item in company)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <button type="submit" class="btn btn-primary">Save</button>
</form>