﻿@model SpaTreatmentPlan

@{
    var stps = ViewBag.stps as SpaTreatmentPlan;
}
<h2>Edit Spa Treatment Plan</h2>

<form asp-action="Edit" asp-controller="Spa" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" value="@stps.Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShortDescription"></label>
        <input asp-for="ShortDescription" class="form-control" value="@stps.ShortDescription" />
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FullDescription"></label>
        <input asp-for="FullDescription" class="form-control" value="@stps.FullDescription" />
        <span asp-validation-for="FullDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Images"></label>
        <input asp-for="Images" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Discount"></label>
        <input asp-for="Discount" class="form-control" value="@stps.Discount" />
        <span asp-validation-for="Discount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReleasedDate"></label>
        <input asp-for="ReleasedDate" class="form-control" value="@stps.ReleasedDate" type="date" />
        <span asp-validation-for="ReleasedDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" value="@stps.Price" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duration"></label>
        <input asp-for="Duration" class="form-control" value="@stps.Duration" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<a asp-action="VendorMenu" asp-controller="Spa">Back to List</a>