﻿@{
    var listSpa = ViewBag.listSpa as List<SpaTreatmentPlan>;
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    a.delete-link {
        color: red;
        text-decoration: none;
    }
</style>


<table>
    <a href="/Spa/Index" class="btn btn-primary">Back to Home</a>
    </br>
    <a asp-action="Add" asp-controller="Spa">Create Spa Treatment Plan</a>
    <tr>
        <th>Name</th>
        <th>Short Description</th>
        <th>Images</th>
        <th>Discount</th>
        <th>Released Date</th>
        <th>Price</th>
        <th>Duration</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    @foreach (var item in listSpa)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.ShortDescription</td>
            <td>@item.Images</td>
            <td>@item.Discount</td>
            <td>@item.ReleasedDate.ToString("d")</td>
            <td>@(item.Price)đ</td>
            <td>@item.Duration</td>
            <td>@(item.Status ? "Active" : "Deactive")</td>
            <td>
                <a class="delete-link" asp-action="Delete" asp-controller="Spa" asp-route-id="@item.Id.ToString()">
                    @(item.Status ? "Deactive" : "Active")
                </a>
                <a asp-action="EditSpa" asp-controller="Spa" asp-route-id="@item.Id.ToString()">Edit</a>
            </td>
        </tr>
    }
</table>