﻿@{
    Layout = null;
}
@{
    var companieId = ViewBag.companieId as string;
    var checkimgae = ViewBag.ImageFalse as string;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" defer></script>
    <title>Technology Page</title>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">Technology Panel</div>
        <ul class="sidebar-menu">
            <li class="menu-item">ProductList</li>
            <a href="/Profile/Index">
            <li class="menu-item">Profile</li></a>
            <a href="/Authentication/Logout">
            <li class="menu-item">Logout</li>
            </a>
            <!-- Add more menu items here -->
        </ul>
    </div>
    <div class="main-content">
        <div class="content-header">
            <h1>Add New Technology</h1>
            <p>Manage your website here.</p>
        </div>
        <div class="content-form">
            <form asp-action="AddTech" method="post" enctype="multipart/form-data">
                    <div style="padding-left:670px">
                        <img style="width:100px; height:100px" id="product-image-preview" src="" />
                        <input required type="file" name="Image" accept="image/*" />
                    </div>
                    @if (ViewData["Error"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["Error"]
                        </div>
                    }
                    <label for="product-name">Product Name:</label>
                    <input required maxlength="20" value="" type="text" name="Name">
                    <label for="product-type">ShortDescription</label>
                    <input required maxlength="100" type="text" name="ShortDescription" value="">
                    <label for="product-type">FullDescription</label>
                    <textarea maxlength="500" name="FullDescription"></textarea>
@*                @if(companieId!= null)
                {
                    <input type="text" name="CompanyId" value="">
                }
                @if(companieId == null)
                {
                    <h1>Không có companid</h1>
                }*@
                <button type="submit">Save Changes</button>
                </form>
        </div>
    </div>
</body>
</html>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Basic styling for the sidebar */
    .sidebar {
        width: 250px;
        height: 100vh;
        background-color: #333;
        color: #fff;
        padding-top: 20px;
        position: fixed;
    }

    .sidebar-header {
        font-size: 1.5rem;
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .sidebar-menu {
        list-style: none;
        padding: 0;
    }

    .menu-item {
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .menu-item:hover {
            background-color: #555;
        }

    /* Styling for the main content */
    .main-content {
        margin-left: 250px;
        padding: 20px;
    }

    .content-header h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .content-header p {
        font-size: 1rem;
        color: #777;
        margin-bottom: 20px;
    }

    .content-form {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    /* Styling for form elements */
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="number"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    textarea {
        resize: vertical;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }
</style>

<script>
    // Lắng nghe sự kiện khi người dùng chọn tệp
    document.querySelector('input[name="Image"]').addEventListener('change', function (event) {
        const input = event.target;
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const imgPreview = document.querySelector('#product-image-preview');
                imgPreview.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    });
</script>