﻿
@{
    Layout = null;
}
@{
    var tech = ViewBag.tech as List<Technology>;
    var techs = ViewBag.techs as List<Technology>;
    var pagedList = Model;
    int totalPage = ViewBag.totalPage;
    var techDefault = ViewBag.techDefault as Technology;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" defer></script>
    <title>Technology Page</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">Technology Panel</div>
        <ul class="sidebar-menu">
            <li class="menu-item">ProductList</li>
            <a href="/Profile/Index">
            <li class="menu-item">Profile</li></a>
            <a href="/Authentication/Logout">
            <li class="menu-item">Logout</li>
            </a>
            <!-- Add more menu items here -->
        </ul>
    </div>
    <div class="main-content">
        <div class="content-header">
            <h1>Dashboard</h1>
            <p>Manage your website here.</p>
        </div>
        <a asp-action="ViewRequest" style=" color:red">Check Request</a>
        <a asp-action="ListRequestTech">Your Request</a>
        <h1 style="margin-left:500px">List Technology</h1>
        <div class="content-table">
                <table>
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    @if (techDefault!=null){
                              <tr>
                                    <td><img style="width:100px; height:100px" src="@techDefault.Image" /></td>
                                    <td>@techDefault.Name</td>
                                    <td>@techDefault.ShortDescription</td>
                            <td><a asp-action="Edit" asp-route-id="@techDefault.Id.ToString()"><button>Edit</button></a> <a asp-action="Delete" asp-route-id="@techDefault.Id.ToString()"><button>Delete</button></a> </td>
                            </tr> 
                                           }
                        @if (tech != null)
                        {
                        @foreach(var item in tech)
                        {
                            <tr>
                            <td><img style="width:100px; height:100px" src="@item.Image" /></td>
                            <td>@item.Name</td>
                            <td>@item.ShortDescription</td>
                        </tr> 
                        }
                        }
                    </tbody>
                </table>
            
            @if (tech == null)
            {
                <a asp-action="Add">Thêm Công Nghệ Mới</a>
            }
        </div>

        <h1 style="margin-left:500px">Technology Of Other Company</h1>
        <div class="content-table">
            <form asp-action="Search">
                <input type="text" value="" name="searchString" />
            </form>
           <table id="">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>@Html.ActionLink("Name", "Index", new { sortOrder = "aa", currentFilter=ViewBag.CurrentFilter})</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in techs)
                    {
                        <tr>
                            <td><img style="width:100px; height:100px" src="@item.Image" /></td>
                            <td>@item.Name</td>
                            <td>@item.ShortDescription</td>
                            <td><a asp-action="RequestTech" asp-route-id="@item.Id.ToString()"><button>Send Request To Accep Technology</button></a>
                        </tr>
                    }
                </tbody>
            </table>
            @for(int i = 1; i <= totalPage; i++)
            {
                <a asp-action="Index" asp-route-index="@i">@i</a>
            }
        </div>
    </div>
</body>
</html>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        background-color: #333;
        color: #fff;
        padding-top: 20px;
        position: fixed;
    }

    .sidebar-header {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .sidebar-menu {
        list-style-type: none;
        padding: 0;
    }

    .menu-item {
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .menu-item:hover {
            background-color: #555;
        }

    .main-content {
        margin-left: 250px;
        padding: 20px;
    }

    .content-header {
        margin-bottom: 20px;
    }

    .content-table table {
        width: 100%;
        border-collapse: collapse;
    }

    .content-table th, .content-table td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .content-table th {
        background-color: #f0f0f0;
    }
</style>
<script>
    const menuItems = document.querySelectorAll('.menu-item');

    menuItems.forEach(item => {
        item.addEventListener('click', () => {
            menuItems.forEach(i => i.classList.remove('active'));
            item.classList.add('active');
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#productTable').DataTable();
    });
</script>