﻿@{
    var listTech = ViewBag.ListTech as List<Technology>;
    var listUser = ViewBag.ListUser as List<ApplicationUser>;
    var listCompanie = ViewBag.ListCompanie as List<Company>;
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" defer></script>
    <title>Technology Page</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">Technology Panel</div>
        <ul class="sidebar-menu">
            <li class="menu-item">ProductList</li>
            <a href="/Profile/Index">
            <li class="menu-item">Profile</li></a>
            <a href="/Authentication/Logout">
            <li class="menu-item">Logout</li>
            </a>
            <!-- Add more menu items here -->
        </ul>
    </div>
    <div class="main-content">
        <div class="content-header">
            <h1>Danh Sách Yêu Cầu Công Nghệ</h1>
            <p>Manage your website here.</p>
        </div>
        <div class="content-table">
            @*<a asp-action="AddListDiscount" asp-controller="Vendor">chỉnh sửa hàng loạt</a>*@
            <div style="margin-left:450px" class="button-container">
                <a asp-action="Add" asp-controller="Vendor">
                    <button class="button">ADD</button>
                </a>
            </div>
            <table id="productTable">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Desc</th>
                        <th>UserName</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in listTech)
                    {
                        <tr>
                            <td><img style="width:100px; height:100px" src="@item.Image" /></td>
                            <td>@item.Name</td>
                            <td>@item.ShortDescription</td>
                            <td>
                                @foreach (var itemss in listUser)
                                {
                                    <h1>@itemss.UserName</h1>
                                }
                            </td>
                            <td>
                            @foreach (var items in listCompanie)
                            {
                                <a asp-action="Acecp" asp-route-id="@item.Id" asp-route-comId="@items.Id">Accept</a>
                                <br />
                                <br />
                                <a asp-action="NotAcecp" asp-route-id="@item.Id" asp-route-comId="@items.Id"><button>Decline</button></a>
                            }
                            </td>
                        </tr>
                    }
                    <!-- Add more table rows here -->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        background-color: #333;
        color: #fff;
        padding-top: 20px;
        position: fixed;
    }

    .sidebar-header {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .sidebar-menu {
        list-style-type: none;
        padding: 0;
    }

    .menu-item {
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .menu-item:hover {
            background-color: #555;
        }

    .main-content {
        margin-left: 250px;
        padding: 20px;
    }

    .content-header {
        margin-bottom: 20px;
    }

    .content-table table {
        width: 100%;
        border-collapse: collapse;
    }

    .content-table th, .content-table td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .content-table th {
        background-color: #f0f0f0;
    }

    .button-container {
        padding-left: 1000px;
    }

        .button-container a {
            text-decoration: none;
        }

    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3498db;
        color: #ffffff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

        .button:hover {
            background-color: #2980b9;
            transform: scale(1.05);
        }
</style>
<script>
    const menuItems = document.querySelectorAll('.menu-item');

    menuItems.forEach(item => {
        item.addEventListener('click', () => {
            menuItems.forEach(i => i.classList.remove('active'));
            item.classList.add('active');
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#productTable').DataTable();
    });
</script>