﻿@{
    Layout = "_Layout";
}

@{
    var Order = ViewBag.Order as Order;
}
<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="~/img/payment/thiet-ke-logo-my-pham-14_1584438199.jpg" alt="" width="100" height="100">
        <h2>Đơn hàng của bạn đã được xác nhận</h2>
        <p class="lead">Cảm ơn khách hàng đa mua sản phẩm tại Shop</p>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Amount</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Order.ProductOrders)
            {
                <tr>
                    <td>@item.Product.Name</td>

                    <td><img src="@item.Product.Images"></td>
                    <td>@item.Quantity</td>
                    <td>@(item.Product.Price)đ</td>
                    <td>@(item.Quantity * (item.Product.Price * (1 - item.Product.Discount * 0.01)))đ</td>
                </tr>

            }
        </tbody>
    </table>
    @if (Order.PaymentStatus == false)
    {
        <h4 id="orderStatus">Processing</h4>
    }
    @if (Order.PaymentStatus == true)
    {
        <h4 id="orderStatus">Done</h4>
        <h4>
            <a asp-action="Canel" asp-controller="Scan" asp-route-id="@Order.Id">Cancel Order</a>
        </h4>
    }
</div>