﻿@{
    ViewData["Title"] = "Create Report";
}

@model CreateReportViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Create Report</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/Report/Create" role="form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Email" type="email" value="@(Model?.Email?? "")" />
                            <label for="Email">Email address</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Phone" type="tel" value="@(Model?.Phone?? "")" />
                            <label for="Phone">Phone</label>
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Header" value="@(Model?.Header?? "")" />
                            <label for="Header">Header</label>
                            <span asp-validation-for="Header" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" asp-for="Content" value="@(Model?.Content?? "")"></textarea>
                            <label for="Content">Content</label>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                            <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>