﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout="_Layout";
}
@{
    var check = ViewBag.vendor as string;
    var products = ViewBag.Products as List<Product>;
    var order = ViewBag.orders as List<Order>;

}
<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="~/img/payment/thiet-ke-logo-my-pham-14_1584438199.jpg" alt="" width="100" height="100">
        <h2>Xứ Lý Đơn Hàng Của bạn </h2>
        <p class="lead"></p>
    </div>
</div>
<div asp-controller="Order" asp-action="Order" class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Thứ tự</th>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Số lượng</th>
                <th>Giá tiền</th>
                <th>Thành tiền</th>
                <th>Trạng thai dơn hàng</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            <h1></h1>
            @foreach (var item in order)
            {
                <tr>
                    <td>1</td>
                    <td>@item.DateCreated</td>
                    <td><img src="" width="100%"></td>
                    <td>1</td>
                    <td>300000</td>
                    <td>7.000.000 VNĐ</td>
                    @if (item.PaymentStatus == true)
                    {
                        <td id="orderStatus">Đang chờ xứ lý</td>
                    }
                    @if (item.PaymentStatus == false)
                    {
                        <td id="orderStatus"> Xác nhận thành công </td>
                    }
                    <td><a asp-action="Cancel" asp-route-id="@item.Id.ToString()">Xác Nhận Đơn Hàng</a></td>
                    <td>
                    @*    @if (check == "customer")
                        {
                            <button class="cancelButton" data-order-id="1">Hủy Đơn</button>
                        }
                        else
                        {
                            <button disabled>Hủy Đơn</button>
                        }*@
                    </td>
                 @*   @if (check == "vendor")
                    {
                        <td>Chấp Nhận Đơn Hàng</td>
                    }
                    @if (check == "customer")
                    {
                        <td></td>
                    }*@
                </tr>
                @*<tr>
                    <td>2</td>
                    <td>@item.DateCreated</td>
                    <td><img src="" width="100%"></td>
                    <td>1</td>
                    <td>300000</td>
                    <td>7.000.000 VNĐ</td>
                    @if (item.PaymentStatus == true)
                    {
                        <td id="orderStatus">Đang chờ xứ lý</td>
                    }
                    @if (item.PaymentStatus == false)
                    {
                        <td id="orderStatus"> Đã hủy thành công</td>
                    }
                    <td><a asp-action="Cancel" asp-route-id="@item.Id.ToString()">Hủy Đơn Hàng</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>@item.DateCreated</td>
                    <td><img src="" width="100%"></td>
                    <td>1</td>
                    <td>300000</td>
                    <td>7.000.000 VNĐ</td>
                    @if (item.PaymentStatus == true)
                    {
                        <td id="orderStatus">Đang chờ xứ lý</td>
                    }
                    @if (item.PaymentStatus == false)
                    {
                        <td id="orderStatus"> Đã hủy thành công</td>
                    }
                    <td><a asp-action="Cancel" asp-route-id="@item.Id.ToString()">Hủy Đơn Hàng</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>@item.DateCreated</td>
                    <td><img src="" width="100%"></td>
                    <td>1</td>
                    <td>300000</td>
                    <td>7.000.000 VNĐ</td>
                    @if (item.PaymentStatus == true)
                    {
                        <td id="orderStatus">Đang chờ xứ lý</td>
                    }
                    @if (item.PaymentStatus == false)
                    {
                        <td id="orderStatus"> Đã hủy thành công</td>
                    }
                    <td><a asp-action="Cancel" asp-route-id="@item.Id.ToString()">Hủy Đơn Hàng</a></td>
                </tr>*@
            }
        </tbody>
    </table>
</div>

