﻿@{
    Layout = "_Dashboard";
    ViewData["Title"] = "Form User";
    //var companySelectors = ViewBag.CompanySelectors as Dictionary<Guid, string>;
}

@model UserFormViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">User</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/UDashboard/AddOrEditUser" role="form" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(model => model.Id)
                        <div>
                            <img style="max-width:100px;max-height:100px" id="user-image-preview" src="@Model.Image" />
                            <input required type="file" name="userImage" accept="image/*" />
                        </div>
                        <br />
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="FirstName" type="text" placeholder="" value="@(Model?.FirstName?? "")" />
                            <label for="FirstName">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="LastName" type="text" placeholder="" value="@(Model?.LastName?? "")" />
                            <label for="LastName">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Email" type="text" placeholder="" value="@(Model?.Email?? "")" />
                            <label for="Email">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="PhoneNumber" type="text" placeholder="" value="@(Model?.PhoneNumber?? "")"></input>
                            <label for="PhoneNumber">Phone Number</label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                            <button class="btn btn-primary" type="submit">Done</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/4.5.6/basic/ckeditor.js"></script>
<script>CKEDITOR.replace('fdeditor');</script>
<script>
    document.querySelector('input[name="userImage"]').addEventListener('change', function (event) {
        const input = event.target;
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const imgPreview = document.querySelector('#user-image-preview');
                imgPreview.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    });</script>