﻿@{
    Layout = "_Dashboard";
    var UsersInfo = ViewBag.UsersInfo as Dictionary<string, int>;
}

<div class="row">
    <div class="col">
            <h4 class="text-center">Top Active Person</h4>
            <canvas id="activePersonChart"></canvas>
        </div>
</div>

@{
    var people = UsersInfo.Select(el => el.Key).ToList();
    var pRates = UsersInfo.Select(el => el.Value).ToList();
    var peopleJson = Json.Serialize(people);
    var pRatesJson = Json.Serialize(pRates);
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctxGenre = document.getElementById('genreChart');
    const ctxRate = document.getElementById('rateChart');
    var people = JSON.parse('@peopleJson');
    var pRates = JSON.parse('@pRatesJson');

    new Chart("activePersonChart", {
        type: 'bar',
        data: {
            datasets: [{
                label: 'Bar Dataset',
                data: pRates,
                order: 2
            }],
            labels: people
        },
        options: {
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });
</script>