﻿@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<Report>
@{
    Layout = "_Dashboard";
    ViewBag.Title = "Reports";
}
@using (Html.BeginForm("ReportManagement", "UDashboard", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.ActionLink("Email", "ReportManagement", new { sortOrder = ViewBag.NameSortParm })</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Header</th>
            <th scope="col">Content</th>
            <th scope="col">Reported Date</th>
        </tr>
    </thead>
    @foreach (var u in Model)
    {
        <tr>
            <td scope="row">@Html.DisplayFor(modelItem => u.Email)</td>
            <td scope="row">@u.Phone</td>
            <td scope="row">@u.Email</td>
            <td scope="row">@u.Header</td>
            <td scope="row">@u.Content</td>
            <td scope="row">@(u.ReportedDate.ToString("d"))</td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<br />
@Html.PagedListPager(Model, page =>
    Url.Action("ReportManagement", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions
    {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})