﻿@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<ApplicationUser>
@{
    Layout = "_Dashboard";
    ViewBag.Title = "Users";
}
<a href="/UDashboard/AddOrEditUser" type="button" class="btn btn-secondary">Add new User</a>
<br />
<br />
@using (Html.BeginForm("UserManagement", "UDashboard", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">@Html.ActionLink("Name", "UserManagement", new { sortOrder = ViewBag.NameSortParm })</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    @foreach (var u in Model)
    {
        <tr>
            <td scope="row">@u.FirstName</td>
            <td scope="row">@Html.DisplayFor(modelItem => u.LastName)</td>
            <td scope="row">@u.PhoneNumber</td>
            <td scope="row">@u.Email</td>
            <td scope="row">Customer</td>
            <td scope="row">@(u.Status ? "Active":"Deactive")</td>
            <td scope="row">
                <a href="/UDashboard/AddOrEditUser?Id=@u.Id" class="btn btn-primary">Edit</a>
                <a href="/UDashboard/DeactiveUser?Id=@u.Id" style="width:100px" class="btn btn-danger">@(u.Status?"Deactive":" Active ")</a>
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<br />
@Html.PagedListPager(Model, page =>
    Url.Action("UserManagement", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions
    {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})