﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<SWP_GROUP4.Models.SPTUser>

<!DOCTYPE html>
<html>
<head>
    <title>Timeline</title>
</head>
<body>
    <h1>Your Timeline Entries</h1>

    @if (Model != null && Model.Count > 0)
    {
        <ul>
            @foreach (var entry in Model)
            {
                <li>
                    <p><strong>Customer:</strong> @entry.User</p>
                    <p><strong>Start Date:</strong> @entry.StartDate</p>
                   @* <p><strong>End Date:</strong> @entry.EndDate</p>
                    <p><strong>Notes:</strong> @entry.Notes</p>*@
                    <hr />
                </li>
            }
        </ul>
    }
    else
    {
        <p>No timeline entries available.</p>
    }
</body>
</html>