﻿@{

}
@model UserChangePasswordViewModel
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Change Password</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/Authentication/ChangePassword" role="form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Password" type="password" placeholder="" value="@(Model?.Password?? "")" />
                            <label for="Password">Password</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="RePassword" type="password" placeholder="" value="@(Model?.RePassword?? "")" />
                            <label for="RePassword">Re-Password</label>
                            <span asp-validation-for="RePassword" class="text-danger"></span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                            <button class="btn btn-primary" type="submit">Send code</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>