﻿@{

}
@model UserConfirmOTPViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">EnterOTP</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/Authentication/ConfirmChangePassword" role="form">
                        <div class="form-floating mb-3">
                            <input class="form-control" name="OTP" placeholder="" value="FBeauty - " />
                            <label for="OTP">Enter OTP</label>
                        </div>
                        <div hidden>
                            <input class="form-control" name="Password" value="@(Model.Password)" />
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>