﻿@{
    ViewData["Title"] = "Forgot Password";
}

@model UserForgotPasswordViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Forgot Password</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/Authentication/ForgotPassword" role="form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Email" type="email" placeholder="" value="@(Model?.Email?? "")" />
                            <label for="inputEmail">Email address</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                            <button class="btn btn-primary" type="submit">Send code</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
