﻿@{
    ViewData["Title"] = "Login";
    Layout = null;
    var isLogin = ViewBag.IsLogin;
}
@model AuthenticationViewModel

<!doctype html>
<html lang="en">
<head>
    <title>Authentication</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
</head>
<body>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <h6 class="mb-0 pb-3"><span>Login </span><span>Register</span></h6>
                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Login</h4>
                                            <form method="post" action="/Authentication/Login" role="form">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="form-group">
                                                    @*<input class="form-control form-style" asp-for="Email" type="email" placeholder="name@example.com" value="@(Model?.Email?? "")" />*@
                                                    <input class="form-control form-style" asp-for="Email" type="email" placeholder="name@example.com" value="customer@localhost.com" />
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    @*<input class="form-control form-style" asp-for="Password" type="password" placeholder="Password" value="@(Model?.Password?? "")" />*@
                                                    <input class="form-control form-style" asp-for="Password" type="password" placeholder="Password" value="P@ssw000000rd" />
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <button class="btn mt-4" type="submit">Login</button>
                                                <p class="mb-0 mt-4 text-center"><a href="/Authentication/ForgotPassword" class="link">Forgot your password?</a></p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-3 pb-3">Sign Up</h4>
                                            <form method="post" action="/Authentication/Register" role="form">
                                                <div class="form-group">
                                                    <input class="form-control form-style" asp-for="FirstName" type="text" placeholder="First Name" value="@(Model?.FirstName?? "")" />
                                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                                    <i class="input-icon uil uil-user"></i>
                                                </div>
                                                <div class="form-group mt-1">
                                                    <input class="form-control form-style" asp-for="LastName" type="text" placeholder="Last Name" value="@(Model?.LastName?? "")" />
                                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                                    <i class="input-icon uil uil-user"></i>
                                                </div>
                                                <div class="form-group mt-1">
                                                    <input class="form-control form-style" asp-for="UserName" type="text" placeholder="Username" value="@(Model?.UserName?? "")" />
                                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                                    <i class="input-icon uil uil-user"></i>
                                                </div>
                                                <div class="form-group mt-1">
                                                    <input class="form-control form-style" asp-for="PhoneNumber" type="tel" placeholder="Phone Number" value="@(Model?.PhoneNumber?? "")" />
                                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                    <i class="input-icon uil uil-phone"></i>
                                                </div>
                                                <div class="form-group mt-1">
                                                    <input class="form-control form-style" asp-for="Email" type="email" placeholder="Email Address" value="@(Model?.Email?? "")" />
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                                <div class="form-group mt-1">
                                                    <input class="form-control form-style" asp-for="Password" type="password" placeholder="Password" value="@(Model?.Password?? "")" />
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <div class="form-group mt-1">
                                                    <input class="form-control form-style" asp-for="RePassword" type="password" placeholder="Re-enter Password" value="@(Model?.RePassword?? "")" />
                                                    <span asp-validation-for="RePassword" class="text-danger"></span>
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <button class="btn mt-4" type="submit">Register</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    const checkbox = document.getElementById('reg-log');
    var isLogin = @((bool)ViewBag.IsLogin ? "true" : "false");
        if (isLogin) {
            checkbox.checked = false;
        } else {
            checkbox.checked = true;
        }
</script>