﻿@{
}
<!DOCTYPE html>
<html>
<head>
    <!-- THE ORIGINAL STAMP: https://dl.dropbox.com/u/1656247/rubber_stamp/index.html -->
</head>
<body>
    <div class="rubber_stamp">Expired</div>
</body>
</html>

<style>
    .rubber_stamp {
        font-family: 'Vollkorn', serif;
        font-size: 39px;
        line-height: 45px;
        text-transform: uppercase;
        font-weight: bold;
        color: red;
        border: 7px solid red;
        float: left;
        padding: 10px 7px;
        border-radius: 10px;
        opacity: 0.8;
        -webkit-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        position: absolute;
        top: 32%;
    }

        .rubber_stamp::after {
            position: absolute;
            content: " ";
            width: 100%;
            height: auto;
            min-height: 100%;
            top: -10px;
            left: -10px;
            padding: 10px;
            background: url(https://raw.github.com/domenicosolazzo/css3/master/img/noise.png) repeat;
        }
</style>