﻿@{
}
@model string

<h2>Chúng tôi vừa gửi một email tới địa chỉ @Model. Vui lòng kiểm tra email và xác nhận thiết lập lại mật khẩu</h2>
<script>
    setTimeout(() => {
        window.location.href = "/";
    }, 3000)
</script>