.main__notify {
    display: flex;
    padding-top: 8px;
}

.main__notify-text {
    font-size: 1.6rem;
    color: rgb(27, 211, 27);
}

.main__notify-icon i {
    font-size: 1.6rem;
    color: rgb(27, 211, 27);
    font-weight: 400;
    margin-right: 8px;
}

.main__cart {
    margin: 20px 0;
    padding-right: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.main__pay {
    margin: 20px 0;
    padding-left: 20px;
}

.main__cart .row.title,
.main__pay-title {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    height: 60px;
    line-height: 6rem;
    align-items: center;
    text-align: left;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.main__cart .row.item {
    height: 100px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main__cart-product {
    display: flex;
    align-items: center;
}

.main__cart-product img {
    width: 70px;
    height: 70px;
    margin-right: 12px;
}

.main__cart-product .name {
    font-size: 1.5rem;
    color: var(--black-cl-2);
    line-height: 2rem;
    height: calc(20px * 3);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.main__cart .is-form {
    width: 20px;
    height: 25px;
}

.main__cart .input-qty {
    height: 25px;
    width: 30px;
    font-size: 1.4rem;
}

.main__cart-price {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--default-cl);
}

.main__cart-icon i {
    font-size: 2.4rem;
    color: var(--black-cl-1);
    cursor: pointer;
}

.main__cart-icon:hover {
    opacity: 0.7;
    transition: all 0.3s;
}

.main__cart .btn {
    margin-top: 20px;
}

.main__pay .btn {
    margin-top: 20px;
    width: 100%;
}

.pay-info {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main__pay-text {
    font-size: 1.6rem;
    color: var(--black-cl-2);
    line-height: 2.4rem;
}

.main__pay-price {
    font-size: 1.6rem;
    color: var(--default-cl)
}


/* ===Reponsive=== */

@media (max-width: 1023px) {
    .main__cart {
        border-right: none;
        padding-right: none;
    }
    .main__pay {
        padding-left: 0;
    }
}

@media (max-width: 1023px) {
    .main {
        padding: 0 8px;
    }
}
/* ==== CartCSS BY Hoang Nguyen Nhat ==== */

.shopping-cart {
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

    .shopping-cart.dark {
        background-color: #f6f6f6;
    }

    .shopping-cart .content {
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        background-color: white;
    }

    .shopping-cart .block-heading {
        padding-top: 50px;
        margin-bottom: 40px;
        text-align: center;
    }

        .shopping-cart .block-heading p {
            text-align: center;
            max-width: 420px;
            margin: auto;
            opacity: 0.7;
        }

    .shopping-cart .dark .block-heading p {
        opacity: 0.8;
    }

    .shopping-cart .block-heading h1,
    .shopping-cart .block-heading h2,
    .shopping-cart .block-heading h3 {
        margin-bottom: 1.2rem;
        color: #3b99e0;
    }

    .shopping-cart .items {
        margin-left: auto;
        margin-right: auto;
    }

        .shopping-cart .items .product {
            margin-bottom: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

            .shopping-cart .items .product .info {
                padding-top: 0px;
                text-align: center;
            }

                .shopping-cart .items .product .info .product-name {
                    font-weight: 600;
                }

                    .shopping-cart .items .product .info .product-name .product-info {
                        font-size: 14px;
                        margin-top: 15px;
                    }

                        .shopping-cart .items .product .info .product-name .product-info .value {
                            font-weight: 400;
                        }

                .shopping-cart .items .product .info .quantity .quantity-input {
                    margin: auto;
                    width: 80px;
                }

                .shopping-cart .items .product .info .price {
                    margin-top: 15px;
                    font-weight: bold;
                    font-size: 22px;
                }

    .shopping-cart .summary {
        border-top: 2px solid #5ea4f3;
        background-color: #f7fbff;
        height: 100%;
        padding: 30px;
    }

        .shopping-cart .summary h3 {
            text-align: center;
            font-size: 1.3em;
            font-weight: 600;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .shopping-cart .summary .summary-item:not(:last-of-type) {
            padding-bottom: 10px;
            padding-top: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .shopping-cart .summary .text {
            font-size: 1em;
            font-weight: 600;
        }

        .shopping-cart .summary .price {
            font-size: 1em;
            float: right;
        }

        .shopping-cart .summary button {
            margin-top: 20px;
        }

@media (min-width: 768px) {
    .shopping-cart .items .product .info {
        padding-top: 25px;
        text-align: left;
    }

        .shopping-cart .items .product .info .price {
            font-weight: bold;
            font-size: 22px;
            top: 17px;
        }

        .shopping-cart .items .product .info .quantity {
            text-align: center;
        }

            .shopping-cart .items .product .info .quantity .quantity-input {
                padding: 4px 10px;
                text-align: center;
            }
}
.product-remove {
    position: relative;
    display: inline-block;
}

    .product-remove i {
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 18px;
        color: red;
        cursor: pointer;
    }
.delete-button {
    display: flex;
    justify-content: right;
    align-items: center;
}



