/* === Css base */

:root {
    --default-cl: #9e5bab;
    --black-cl-1: #444444;
    --black-cl-2: #222222;
    --white-cl-1: #fff;
    --white-cl-2: rgba(255, 255, 255, 0.7);
    --white-cl-3: #f8f7fd;
    --orange-cl: #d26e4b;
    --hight-header-top: 80px;
    --hight-header-nav: 50px;
    --hight-header: calc(var(--hight-header-nav) + var(--hight-header-top))
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 62.5%;
}


/*input*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    min-width: 95px;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    opacity: 0.7;
    transition: all 0.3s;
}

.btn.btn--default {
    background-color: var(--default-cl);
    padding: 14px 30px;
    color: var(--white-cl-1);
    text-transform: uppercase;
    font-size: 1.6rem;
}

.btn.cart-btn {
    font-size: 1.4rem;
    width: 100%;
}

.btn.orange {
    background-color: var(--orange-cl)
}


/*---Breadcrumb---  */

.main__breadcrumb {
    display: flex;
    align-items: center;
}

.breadcrumb__item {
    position: relative;
    align-items: center;
    margin-right: 12px;
}

.breadcrumb__link {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-right: 12px;
    color: var(--black-cl-1);
}

.breadcrumb__item::after {
    content: "/";
    font-size: 2rem;
    position: absolute;
    font-weight: 500;
    right: -4px;
    top: -2px;
}

.main__breadcrumb .breadcrumb__item:last-child::after {
    display: none;
}

.main__breadcrumb .breadcrumb__item:last-child .breadcrumb__link {
    font-weight: 500;
    color: var(--black-cl-2);
}


/* ---Check box--- */

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}


/* ---------Scroll---------- */

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    max-height: 50%;
    height: 50%;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}

 ::-webkit-scrollbar-thumb {
    background: var(--default-cl);
    border-radius: 1px;
}

.main {
    margin-top: var(--hight-header);
}

.bg-1 {
    background-color: var(--black-cl-1);
}

.bg-2 {
    background-color: var(--black-cl-2);
}

.bg-3 {
    background-color: var(--white-cl-3)
}


/* ====List KeyFrames==== */

@keyframes fadeInTop {
    from {
        top: 48%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes ScaleTopRight {
    from {
        transform: scale(0);
        opacity: 2;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInScale {
    from {
        top: calc(100% + 16px);
        opacity: 0;
    }
    to {
        top: 100%;
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes textTranform {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 7));
    }
}


/* =========Header========= */

.header {
    height: var(--hight-header);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    background-color: var(--white-cl-1);
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--hight-header-top);
}


/* ------Account------ */

.header__account {
    width: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    text-align: center;
}

.header__account:after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    top: 100%;
}

.list-user {
    position: absolute;
    top: calc(100% + 5px);
    right: 50%;
    transform: translateX(50%);
    z-index: 99;
    background-color: var(--black-cl-1);
    min-width: 130px;
    padding: 8px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    display: none;
}

.item-user {
    display: block;
    font-size: 1.6rem;
    color: var(--white-cl-1);
    padding: 6px 8px;
    line-height: 2.2rem;
}

.item-user:hover {
    background-color: var(--white-cl-1);
    color: var(--default-cl);
}

.header__account:hover .list-user {
    display: block;
}

.img-user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 6px;
}

.header .header__account-login,
.header .header__account-register {
    margin-right: 16px;
    cursor: pointer;
    position: relative;
    font-size: 1.6rem;
    color: var(--black-cl-1);
}

.header .name-user {
    font-size: 1.6rem;
    color: var(--black-cl-1);
}

.header .header__account-login:after {
    position: absolute;
    content: "";
    border-right: 1px solid var(--black-cl-1);
    height: 16px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.header__account-login:hover,
.header__account-register:hover {
    color: var(--default-cl);
    transition: all 0.3s;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
}

.authen-modal {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 400px;
    background-color: var(--white-cl-1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 30px 20px 50px 20px;
    will-change: opacity;
    animation: fadeInTop ease 0.4s;
}

.overlay-close {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: default;
}

#my-Login:target,
#my-Register:target {
    display: block;
}

.authen-modal.register .authen__btns {
    justify-content: center;
}

.authen-modal__title {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--black-cl-1);
    font-weight: 600;
    margin-bottom: 20px;
}

.form-label {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black-cl-2);
}

.form-control {
    height: 35px;
    font-size: 1.4rem;
    width: 100%;
    margin-top: 10px;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 8px 12px;
}

textarea.form-control {
    height: 105px;
}

.form-message {
    display: flex;
    height: 28px;
    font-size: 1.3rem;
    color: red;
    align-items: center;
}

.authen__btns {
    display: flex;
    align-items: center
}

.authen-checkbox {
    margin-left: 25px;
    margin-right: 16px;
}

.authen__link {
    display: block;
    color: var(--black-cl-2);
    font-size: 1.4rem;
    margin-top: 16px;
    cursor: pointer;
    text-align: center;
}

.authen__link:hover {
    color: var(--default-cl);
    transition: all 0.3s;
}


/* -------Search------- */

.header__search {
    flex-grow: 1;
    text-align: center;
}

.header__search-wrap {
    border-radius: 18px;
    border: 1px solid var(--default-cl);
    width: 60%;
    display: flex;
    height: 36px;
    margin: 0 auto;
    align-items: center;
}

.header__search-input {
    border: none;
    outline: none;
    background: none;
    padding: 0 16px;
    font-size: 1.6rem;
    flex-grow: 1;
    color: var(--black-cl-2);
}

.header__search-icon {
    border: none;
    outline: none;
    background: none;
}

.header__search-icon i {
    font-size: 2rem;
    color: var(--black-cl-1);
    font-weight: 400;
    padding-right: 16px;
}


/* ----Cart---- */

.header__cart {
    position: relative;
    cursor: pointer;
    padding: 12px;
}

.text__no-cart {
    display: block;
    font-size: 1.8rem;
    text-align: center;
    padding: 8px;
}

.header__cart:after {
    content: "";
    width: 50px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 0;
}

.header__cart:hover i,
.header__search:hover i {
    color: var(--default-cl);
    transition: all 0.3s;
}

.header .header__cart i {
    font-size: 2.6rem;
    color: var(--black-cl-2);
}

.header__cart-amount {
    position: absolute;
    border-radius: 50%;
    padding: 4px 7px;
    background-color: var(--default-cl);
    color: var(--white-cl-1);
    font-size: 1.2rem;
    font-weight: 500;
    top: 0px;
    right: 0px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}


/* ----Cart list---- */

.header__cart-wrap {
    position: absolute;
    top: 100%;
    right: 4px;
    width: 280px;
    background-color: rgb(245, 237, 238);
    padding: 12px;
    z-index: 2;
    box-shadow: 0 0 5px var(--bd-cl-2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    transform-origin: top right;
    will-change: transform, opacity;
    animation: ScaleTopRight ease-in 0.35s;
    display: none;
}

.header__cart.have:hover .header__cart-wrap {
    display: block;
}

.header__cart-wrap:before {
    border: solid;
    border-color: rgb(245, 237, 238) transparent;
    border-width: 0 10px 10px 10px;
    top: -10px;
    content: "";
    right: 4%;
    position: absolute;
    z-index: 99;
}

.list-order {
    max-height: 50vh;
    overflow-y: auto;
}

.item-order {
    margin-top: 8px;
    padding-bottom: 8px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
}

.order-wrap {
    display: flex;
    align-items: center;
    cursor: default;
}

.order-img img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.order-main {
    margin-right: auto;
    flex: 1;
}

.order-main-name {
    color: var(--black-cl-1);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    max-height: 18px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-align: left;
}

.order-main-name:hover {
    color: var(--orange-cl);
}

.order-main-price {
    color: var(--black-cl-2);
    font-size: 1.4rem;
    padding: 8px 0;
    font-weight: 600;
}

.header .order-close i {
    font-size: 2rem;
    font-weight: 400;
    color: var(--black-cl-1);
    margin-left: 12px;
}

.order-close:hover i {
    color: var(--orange-cl);
}

.total-money {
    font-size: 1.6rem;
    color: var(--black-cl-2);
    text-align: center;
    font-weight: 600;
    padding: 12px 0;
    cursor: default;
}

.header__cart-wrap .btn {
    margin-top: 10px;
}


/* ----Menu---- */

.header__nav {
    height: var(--hight-header-nav);
    background-color: var(--black-cl-1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.header__nav {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-item {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.header__nav-link {
    display: block;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--white-cl-1);
    padding: 0 44px;
    line-height: 5rem;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.header__nav-link:hover {
    color: var(--default-cl);
    transition: all 0.3s;
}


/* ---Submenu---- */

.sub-nav-wrap {
    position: absolute;
    background-color: var(--white-cl-1);
    padding: 12px 0;
    top: 100%;
    right: 50%;
    transform: translate(50%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transform-origin: top left;
    will-change: opacity transform;
    animation: fadeInScale linear 0.3s;
    display: none;
    flex-wrap: wrap;
    z-index: 99;
}

.sub-nav {
    width: 200px;
}

.header__nav-item:hover .sub-nav-wrap {
    display: flex;
}

.sub-nav__link {
    display: block;
    font-size: 1.6rem;
    padding: 14px 12px;
    color: var(--black-cl-1)
}

.sub-nav__link.heading {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
}

.sub-nav__link:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.header__nav-list .header__nav-item.authen-form {
    display: none;
}

.header__nav .nav__search {
    display: none
}


/* ---Icon bar--- */

.navbar-icon {
    width: 28px;
    height: 28px;
    position: relative;
    margin: auto 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
}

.navbar-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--default-cl);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.navbar-icon span:nth-child(1) {
    top: 0px;
}

.navbar-icon span:nth-child(2) {
    top: 10px;
}

.navbar-icon span:nth-child(3) {
    top: 20px;
}

.navbar-icon.open span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.navbar-icon.open span:nth-child(2) {
    opacity: 0;
    left: -8px;
}

.navbar-icon.open span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/* Footer */

.footer {
    background-color: var(--black-cl-1);
    padding-top: 45px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .row {
    margin-left: -12px;
    margin-right: -12px;
}

.footer .col {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
}

.footer__title {
    color: var(--white-cl-1);
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer__link,
.footer__text {
    display: block;
    color: var(--white-cl-2);
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 6px 0;
    align-items: center;
    font-weight: 300;
}

.footer__link:hover {
    color: var(--white-cl-1);
}

.footer__text i,
.footer__link i {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-right: 8px;
}

.social-group {
    display: flex;
}

.social-item {
    margin-right: 12px;
    background-color: var(--black-cl-2);
    width: 40px;
    height: 40px;
    display: flex;
    margin-top: 12px;
    border-radius: 3px;
}

.social-item i {
    font-size: 1.8rem;
    color: var(--white-cl-1);
    margin: auto;
}

.social-item:hover {
    background-color: var(--white-cl-1);
    transition: all 0.3s;
}

.social-item:hover i {
    color: var(--black-cl-2);
    transition: all 0.3s;
}

.send-email {
    background-color: var(--white-cl-1);
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.send-email__input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 12px 16px;
    font-size: 1.4rem;
    flex-grow: 1;
}

.send-email__link {
    margin: auto;
    font-size: 1.8rem;
    color: var(--black-cl-1);
    padding-right: 12px;
}

.copyright {
    background-color: var(--black-cl-2);
    text-align: center;
    margin-top: 25px;
}

.copyright .footer__link {
    display: inline-block;
    font-weight: 800;
}


/* Go to Top */

.up-top {
    position: fixed;
    bottom: 24px;
    right: 32px;
    border-radius: 50%;
    border: 1px solid var(--orange-cl);
    padding: 12px 14px;
    color: var(--orange-cl);
}

.up-top i {
    font-size: 2rem;
    font-weight: 400;
}

.up-top:hover {
    border-color: var(--default-cl);
    color: var(--default-cl)
}


/* ===Tab nine==== */

.tabs {
    display: flex;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 15px;
    background-color: var(--default-cl);
    transition: all 0.2s ease;
}

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: var(--black-cl-2);
    background-color: var(--white-cl-1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    text-transform: uppercase;
}

.tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}

.tab-item.active {
    color: var(--default-cl);
}

.tab-content {
    padding: 28px 0;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}


/* ===Product==== */

.product {
    display: block;
    background-color: var(--white-cl-1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    will-change: transform;
    transition: all linear 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.product:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}

.product__avt {
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product__info {
    padding: 12px 12px;
}

.product__name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    height: calc(18px);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.product__price {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.price__old {
    color: var(--black-cl-1);
    text-decoration: line-through;
}

.price__new {
    color: var(--default-cl);
    font-weight: 500;
}

.price__old .price__unit,
.price__new .price__unit {
    font-size: 1.3rem;
    text-decoration: underline;
}

.product__sale {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f8d133;
    width: 36px;
    height: 32px;
    text-align: center;
    border-top-right-radius: 2px;
}

.product__sale::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 18px 5px 18px;
    border-color: transparent #f8d133;
    bottom: -5px;
    left: 0;
}

.product__sale-percent {
    font-size: 1.3rem;
    font-weight: 500;
    color: red;
    display: block;
    padding: 2px 0;
}

.product__sale-text {
    text-transform: uppercase;
    font-weight: 500;
    color: red;
    line-height: 1.3rem;
    font-stretch: ultra-expanded;
}


/*product Btn*/

.product .viewDetail,
.product .addToCart {
    position: absolute;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    width: 90%;
    padding: 12px 0;
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 1.6rem;
    text-align: center;
    color: var(--white-cl-1);
    display: none;
}

.product .viewDetail {
    top: 30%;
    animation: btnDown linear 3s;
}

.product .addToCart {
    animation: btnUp linear 3s;
    top: 50%;
}

.product .viewDetail:hover,
.product .addToCart:hover {
    color: black;
    transform: all 0.3s;
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: 600;
}

.product:hover .viewDetail,
.product:hover .addToCart {
    display: block;
}


/* Owl  */

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 45%;
    font-size: 6rem;
    transform: translateY(-50%)
}

.owl-carousel .owl-nav button.owl-prev {
    left: -20px;
}

.owl-carousel .owl-nav button.owl-next {
    right: -20px;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background-color: transparent;
    color: var(--default-cl);
}


/* buttom tăng giảm */

.buttons_added {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
}

.is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 44px;
    width: 30px;
    font-size: 1.8rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
}

.is-form:focus,
.input-text:focus {
    outline: none;
}

.is-form.minus {
    border-radius: 4px 0 0 4px;
}

.is-form.plus {
    border-radius: 0 4px 4px 0;
}

.input-qty {
    background-color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    font-size: 1.6rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
}

.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Rating */

.rating {
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 4rem;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating:not(:hover) label input:checked~.icon,
.rating:hover label:hover input~.icon {
    color: var(--default-cl);
}

.rating label input:focus:not(:checked)~.icon:last-child {
    color: #000;
    text-shadow: 0 0 5px var(--default-cl);
}


/* ===Main frame==== */

.main__frame {
    padding: 50px 0;
}

.category__title {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 12px;
}

.category__heading {
    font-size: 2.6rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    position: relative;
    margin-bottom: 40px;
}

.category__heading::after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 130px;
    background-color: var(--default-cl);
}

.category__heading::before {
    content: "";
    position: absolute;
    top: calc(100% + 16px);
    left: 0;
    height: 1px;
    width: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--default-cl);
}

.authen-list {
    display: none;
}

.header__nav-item.authen-form:hover .authen-list {
    display: block;
}


/* ====Reponsive */

@media(max-width: 1023px) {
     :root {
        --hight-header-top: 80px;
        --hight-header-nav: 0px;
    }
    .header__nav {
        position: fixed;
        top: var(--hight-header);
        left: 0;
        bottom: 0;
        height: auto;
        width: 320px;
        background-color: var(--black-cl-1);
        padding-top: 20px;
        z-index: 9;
        will-change: opacity;
        animation: fadeInRight linear 0.3s;
        display: none;
    }
    .header__nav.show {
        display: block;
    }
    .header__nav-list {
        display: block;
        width: 100%;
    }
    .header__nav-list .header__nav-item.authen-form {
        display: block;
    }
    .header__nav-item {
        border-right: none;
    }
    .header__nav-link {
        color: var(--white-cl-1);
        font-size: 1.6rem;
        padding: 4px 12px;
        font-weight: 400;
    }
    .header__nav-link:hover {
        color: var(--white-cl-1);
    }
    .header__search {
        display: none;
    }
    .header__account-register,
    .header__account-login {
        display: none;
    }
    .header__nav .nav__search {
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.3);
        align-items: center;
        background-color: var(--white-cl-1);
        padding: 0 4px 0 12px;
    }
    .nav__search-wrap {
        flex-grow: 1;
    }
    .nav__search-input {
        font-size: 1.8rem;
        width: 100%;
        line-height: 5rem;
        border: none;
        outline: none;
    }
    .nav__search-btn {
        background-color: var(--default-cl);
        padding: 10px;
        border-radius: 2px;
    }
    .nav__search-btn:hover {
        opacity: 0.7;
        transition: all 0.3s;
    }
    .nav__search-btn i {
        font-size: 2.4rem;
        color: var(--white-cl-1);
        font-weight: 400;
    }
    .header__account {
        display: none;
    }
    .header__nav-item.index {
        display: none;
    }
    .navbar-icon {
        display: block;
    }
    .header__cart-wrap {
        position: fixed;
        top: var(--hight-header);
        right: 0;
        will-change: opacity;
        animation: fadeInLeft linear 0.3s;
    }
    .header__cart-wrap:before {
        display: none;
    }
    .authen-list {
        width: 100%;
        background: var(--black-cl-2);
    }
    .sub-nav__link {
        color: #fff;
    }
}

@media(max-width: 739px) {
    .header {
        padding: 0 12px;
    }
    .footer .row {
        margin-left: 0;
        margin-right: 0;
    }
    .footer {
        text-align: center;
    }
    .social-group {
        justify-content: center;
    }
    .product__price {
        font-size: 1.5rem;
    }
}