﻿/* CSS for table */
.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    font-size: 14px;
    margin-bottom: 0;
}

    .table th,
    .table td {
        padding: 8px;
    }

    /* CSS for images inside table cells */
    .table img {
        max-width: 100px;
        height: auto;
    }

    /* Additional styling for table rows */
    .table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* Styling for buttons in the last cell */
    .table td:last-child {
        white-space: nowrap;
    }

        .table td:last-child button {
            margin: 2px;
            padding: 6px 10px;
            font-size: 12px;
        }
